<script context="module">
    import { logE, logW, logI, logT } from "../services/log"
    import { browser } from "$app/env"
    import { UploadStore } from "../stores/UploadStore"
    import { AppDataStore } from "../stores/AppDataStore"
    import UploadController from "../components/UploadController.svelte"
    import ToastHost from "../components/ToastHost.svelte"
    import { ToastStore } from "../stores/ToastStore"

    let eventListenerRegistered = false
    if (browser && !eventListenerRegistered) {
        eventListenerRegistered = true
        window.addEventListener("beforeunload", function (e) {
            let openChanges = AppDataStore.getCurrentProjectOpenChanges()
            if (openChanges) ToastStore.append("OPEN CHANGES!", 3, "danger", "center-top")
            let uploadsCount = UploadStore.getUploads().length
            logT(`BeforeUnload: openChanges ${openChanges} uploads ${uploadsCount}`)
            if (uploadsCount > 0) ToastStore.append(uploadsCount + "RUNNING UPLOADS!", 3, "danger", "center-top")
            if (openChanges || uploadsCount > 0) {
                // Cancel the event
                e.preventDefault() // If you prevent default behavior in Mozilla Firefox prompt will always be shown
                // Chrome requires returnValue to be set
                e.returnValue = ""
            }
        })
    }
</script>

<svelte:head>
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
</svelte:head>

<slot />

<UploadController />
<ToastHost />

<style>
    :global(input) {
        box-shadow: none !important;
    }
    :global(Button) {
        box-shadow: none !important;
    }
    :global(.container-preview) {
        margin-top: 2em;
        text-align: center;
    }
    :global(.carbon-icon) {
        margin-top: -4px;
        margin-left: -4px;
        margin-right: -4px;
        padding: 0px;
    }
    :global(.div-navitem) {
        margin: 0em 1em;
    }
</style>
