<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { goto } from "$app/navigation"
    import { AuthStore } from "../stores/AuthStore"
    import { NavItem, NavbarBrand, Spinner } from "sveltestrap"
    import Navigation from "../components/Navigation.svelte"
    import PageTransitions from "../components/PageTransitions.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import IconButton from "../components/IconButton.svelte"
    import AssetsGrid from "../grids/AssetsGrid.svelte"

    onDestroy(() => {
        logI(`onDestroy assets page : ${$AuthStore?.state}`)
    })

    onMount(() => {
        logI(`onMount assets page : ${$AuthStore?.state}`)
        // initialisieren allein bei signedIn, ansonsten ab auf die index page
        if (!$AuthStore.state === "signedIn") goto("/")
    })

    let cloudflareGrid
</script>

<PageTransitions>
    <Navigation>
        <NavbarBrand href="/">assets inspector</NavbarBrand>
        <NavItem>
            <div class="div-navitem">
                <IconButton icon="ArrowLeft" on:click={() => window.history.back()} />
            </div>
        </NavItem>
        <NavItem>
            <!--   <Button on:click={handleAddSupervisor}>Add supervisor</Button>
            <Button on:click={handleAddAdministrator}>Add administrator</Button> -->
        </NavItem>
    </Navigation>
    <div class="container" style="margin: auto;">
        <AssetsGrid />
    </div>
</PageTransitions>
