<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { goto } from "$app/navigation"
    import { AuthStore } from "../stores/AuthStore"
    import { NavItem, NavbarBrand, Button } from "sveltestrap"
    import Navigation from "../components/Navigation.svelte"
    import PageTransitions from "../components/PageTransitions.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import IconButton from "../components/IconButton.svelte"
    import CloudflareGrid from "../grids/CloudflareGrid.svelte"

    onDestroy(() => {
        logI(`onDestroy cloudflare page : ${$AuthStore?.state}`)
    })

    onMount(() => {
        logI(`onMount cloudflare page : ${$AuthStore?.state}`)
        // initialisieren allein bei signedIn, ansonsten ab auf die index page
        if (!$AuthStore.state === "signedIn") goto("/")
    })

    let cloudflareGrid

    let busy = false
    function addMetaData() {
        busy = true
        cloudflareGrid.addMetaData()
    }
    function cancelAddingMetaData() {
        busy = false
        cloudflareGrid.cancelAddingMetaData()
    }

</script>

<PageTransitions>
    <Navigation>
        <NavbarBrand href="/">clips inspector</NavbarBrand>
        <NavItem>
            <div class="div-navitem">
                <IconButton color='secondary' icon="ArrowLeft" on:click={() => window.history.back()} />
            </div>
        </NavItem>
        <!-- <NavItem>
            {#if busy}
                <Button on:click={cancelAddingMetaData}>Cancel</Button>
            {:else}
                <Button on:click={addMetaData}>Add Metadata</Button>
            {/if}
        </NavItem> -->
    </Navigation>
    <div class="container" style="margin: auto;">
        <CloudflareGrid bind:this={cloudflareGrid} />
    </div>
</PageTransitions>
