<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { fly, fade } from "svelte/transition"
    import { onMount } from "svelte"
    import { goto } from "$app/navigation"
    import { AuthStore } from "../stores/AuthStore"
    import { Spinner } from "sveltestrap"
    import { CloudflareStore } from "../stores/CloudflareStore"

    onMount(async () => {
        let intervall = setInterval(async () => {
            logI(`onMount index page : ${$AuthStore?.state}`)
            // einen finalen State abwarten
            if ($AuthStore?.state === "signedIn" || $AuthStore?.state === "signedOut" || $AuthStore?.state === "fatalError") {
                // und diesen auswerten
                clearInterval(intervall)
                if ($AuthStore.state === "signedIn") {
                    CloudflareStore.refresh()
                    goto("/projects")
                } else if ($AuthStore.state === "signedOut") goto("/login")
                else alert($AuthStore.error.message)
            }
        }, 100)
    })
</script>

<div class="center">
    <div>
        <img src="/inlumeIcon.svg" alt="branding" in:fade out:fly={{ y: 200, duration: 2000 }} />
    </div>
    <div style="margin-left: 22px;margin-top:20px;color:grey" transition:fade>
        <Spinner />
    </div>
</div>
{#if $AuthStore?.error}
    <div class="login-info">
        {#if $AuthStore.error.type === "AuthStore/user-not-found" || $AuthStore.error.type === "AuthStore/wrong-password"}
            <p class="text-red-500"><span class="font-medium">Oops, that didn't work.</span> Email or password incorrect.</p>
        {:else if $AuthStore.error.type === "AuthStore/network-request-failed"}
            <p class="text-red-500"><span class="font-medium">Oops, that didn't work.</span> You seem to be offline.</p>
        {/if}
    </div>
{/if}

<style>
    .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .login-info {
        margin-top: 2em;
        font-size: large;
        color: crimson;
    }
</style>
