<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { goto } from "$app/navigation"
    import { AuthStore } from "../stores/AuthStore"
    import { NavItem, Button } from "sveltestrap"
    import { ToastStore } from "../stores/ToastStore"
    import Navigation from "../components/Navigation.svelte"
    import PageTransitions from "../components/PageTransitions.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import LabelsGrid from "../grids/LabelsGrid.svelte"

    onDestroy(() => {
        logI(`onDestroy languages page : ${$AuthStore?.state}`)
    })

    onMount(() => {
        logI(`onMount languages page : ${$AuthStore?.state}`)
        // initialisieren allein bei signedIn, ansonsten ab auf die index page
        if ($AuthStore.state === "signedIn") {
            initialize()
        } else goto("/")
    })

    let breadcrumbs

    function initialize() {
        breadcrumbs = [
            { title: $AppDataStore.currentCustomer.customerName, active: false, goto: "projects" },
            { title: $AppDataStore.editProject.name, active: false, goto: "project" },
            { title: "languages", active: true },
        ]
    }

    function handleClick() {
        languagesGrid.setLanguages()
    }

    let languagesGrid
</script>

<PageTransitions>
    <Navigation {breadcrumbs}>
        <NavItem>
            <div class="div-navitem">
                <Button on:click={() => goto("/scenes")}>Scenes</Button>
                <Button on:click={() => goto("/playlists")}>Playlists</Button>
            </div>
        </NavItem>
    </Navigation>
    <div class="container" style="margin: auto;">
        <LabelsGrid bind:this={languagesGrid} />
    </div>
</PageTransitions>
