<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { goto } from "$app/navigation"
    import { AuthStore } from "../stores/AuthStore"
    import { NavItem, Button } from "sveltestrap"
    import Navigation from "../components/Navigation.svelte"
    import PageTransitions from "../components/PageTransitions.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import IconButton from "../components/IconButton.svelte"
    import ManagerUserManagementGrid from "../grids/ManagerUserManagementGrid.svelte"
  

    onDestroy(() => {
        logI(`onDestroy managerusermanagement page : ${$AuthStore?.state}`)
    })

    onMount(() => {
        logI(`onMount managerusermanagement page : ${$AuthStore?.state}`)
        // initialisieren allein bei signedIn, ansonsten ab auf die index page
        if ($AuthStore.state === "signedIn" && $AppDataStore.customersDict) {
            title = "manager usermanagement"
        } else goto("/")
    })

    let title

function handleAddManager() {
    grid.initAddingUser("manage")
}
function handleAddWorker() {
    grid.initAddingUser("work")
}

let grid


</script>

<PageTransitions>
<Navigation {title}>
    <NavItem>
        <div class="div-navitem">
            <IconButton icon="ArrowLeft" on:click={() => window.history.back()} />
        </div>
    </NavItem>
    <NavItem>
        <Button on:click={handleAddManager}>Add manager</Button>
        <Button on:click={handleAddWorker}>Add worker</Button>
    </NavItem>

</Navigation>
<div class="container" style="margin: auto;">
    <ManagerUserManagementGrid bind:this={grid} />
</div>
</PageTransitions>

