<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { Navbar } from "sveltestrap"
    import { onMount } from "svelte"
    import { AuthStore } from "../stores/AuthStore"
    import logo from "../../static/inlumeIcon.svg"
    import { setPassword } from "../services/directorapi"

    onMount(() => {
        let intervall = setInterval(async () => {
            logI(`onMount newpwd page : ${$AuthStore?.state}`)
            // einen finalen State abwarten
            if ($AuthStore?.state === "signedIn" || $AuthStore?.state === "signedOut" || $AuthStore?.state === "fatalError") {
                // und diesen auswerten
                clearInterval(intervall)
            }
        }, 100)

        const queryString = window.location.search
        if (queryString) {
            logI(queryString)
            const urlParams = new URLSearchParams(queryString)
            // Get the action to complete.
            const mode = urlParams.get("mode")
            // Get the one-time code from the query parameter.
            actionCode = urlParams.get("oobCode")
            if (mode == "resetPassword" && actionCode) {
                AuthStore.verifyPasswordResetCode(actionCode)
                    .then((args) => {
                        email = args
                    })
                    .catch((err) => {
                        verifyError = err.message
                    })
            }
        }
    })

    let email, password, password2, actionCode
    let setPwdError,
        verifyError,
        setPwdSuccess = false

    $: validPassword = password && password2 && password == password2
    $: logI("PWD valid " + validPassword)

    async function handleSetPwd() {
        let error = await setPassword(actionCode, password)
        if (error) alert(error)
        else setPwdSuccess = true
    }
</script>

<Navbar color="light" light>
    <img class="logo" src={logo} alt="logo" />
    <!--  <NavbarBrand href="/">launchPad</NavbarBrand> -->
    <h4>NewPassword</h4>
</Navbar>

{#if verifyError}
    <div class="div-form">
        <h4>Oops, that won't work:</h4>
        <h4>{verifyError}</h4>
    </div>
{/if}

{#if email}
    <div class="div-form">
        <form on:submit|preventDefault={handleSetPwd}>
            <h3>{email}</h3>
            <br />
            <div class="mb-3">
                <label for="login-password" class="form-label">Enter new password</label>
                <input type="password" class="form-control" required bind:value={password} />
            </div>
            <div class="mb-3">
                <label for="login-password" class="form-label">Repeat new password</label>
                <input type="password" class="form-control" required bind:value={password2} />
            </div>

            <br />
            <button type="submit" class="btn" style="background-color: #f8d62b;" disabled={!validPassword}>Set password</button>
            <br />

            {#if setPwdError}
                <div class="failed">
                    <p>Oops, that didn't work:</p>
                    <p>{setPwdError}</p>
                </div>
            {/if}

            {#if setPwdSuccess}
                <div class="success">
                    <p>OK,</p>
                    <p>new password has been set!</p>
                </div>
            {/if}
        </form>
    </div>
{/if}

<style>
    .logo {
        height: 2em;
        width: 2em;
        margin-right: 2em;
    }
    .failed {
        margin-top: 2em;
        font-size: large;
        color: crimson;
    }
    .success {
        margin-top: 2em;
        font-size: large;
        color: green;
    }

    .div-form {
        max-width: 400px;
        margin: 100px auto;
        padding: 3em;
        background-color: #eee;
        border-radius: 10px;
    }
</style>
