<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { goto } from "$app/navigation"
    import { AuthStore } from "../stores/AuthStore"
    import { NavItem, Button } from "sveltestrap"
    import Navigation from "../components/Navigation.svelte"
    import PageTransitions from "../components/PageTransitions.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import PlaylistsPanel from "../panels/PlaylistsPanel.svelte"

    onDestroy(() => {
        logI(`onDestroy playlists page : ${$AuthStore?.state}`)
    })

    onMount(() => {
        logI(`onMount playlists page : ${$AuthStore?.state}`)
        // initialisieren allein bei signedIn, ansonsten ab auf die index page
        if ($AuthStore.state === "signedIn") {
            initialize()
        } else goto("/")
    })

    let breadcrumbs

    function initialize() {
        breadcrumbs = [
            { title: $AppDataStore.currentCustomer.customerName, active: false, goto: "projects" },
            { title: $AppDataStore.editProject.name, active: false, goto: "project" },
            { title: "playlists", active: true },
        ]
    }

    function handleEditPlaylist(e) {
        logI("handleEditPlaylist" + e.detail)
        AppDataStore.setCurrentPlaylistId(e.detail)
        goto("/playlist")
    }
    function handleClonePlaylist(e) {
        logI("handleClonePlaylist" + e.detail)
        AppDataStore.clonePlaylist(e.detail)
    }
    function handleDeletePlaylist(e) {
        logI("handleClonePlaylist" + e.detail)
        AppDataStore.deletePlaylist(e.detail)
    }
</script>

<PageTransitions>
    <Navigation {breadcrumbs}>
        <NavItem>
            <div class="div-navitem">
                <Button on:click={() => goto("/scenes")}>Scenes</Button>
                <Button on:click={() => goto("/projectmanagement")}>Management</Button>
            </div>
        </NavItem>
        <div slot="slotCta">
            <div class="div-navitem">
                <Button on:click={() => AppDataStore.addPlaylist()}>Add playlist</Button>
            </div>
        </div>
    </Navigation>
    <div>
        <!--    <h1 class="container-preview">Playlist Cards here...</h1> -->
        <PlaylistsPanel on:editPlaylist={handleEditPlaylist} on:clonePlaylist={handleClonePlaylist} on:deletePlaylist={handleDeletePlaylist} />
    </div>
</PageTransitions>
