<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { goto } from "$app/navigation"
    import { AuthStore } from "../stores/AuthStore"
    import { NavItem, Button } from "sveltestrap"
    import Navigation from "../components/Navigation.svelte"
    import PageTransitions from "../components/PageTransitions.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import PlaylistSceneEditor from "../components/PlaylistSceneEditor.svelte"
    import PlaylistDiagram from "../components/PlaylistDiagram.svelte"
    import PlaylistGrid from "../grids/PlaylistGrid.svelte"
    import ButtonGroupSelector from "../components/ButtonGroupSelector.svelte"
    import PlaylistSelector from "../components/PlaylistSelector.svelte"
    onDestroy(() => {
        logI(`onDestroy playlist page : ${$AuthStore?.state}`)
    })

    let breadcrumbs, names, playlist

    onMount(() => {
        logI(`onMount playlist page : ${$AuthStore?.state}`)
        if ($AuthStore.state === "signedIn") {
            playlist = $AppDataStore.editProject?.playlists.find((o) => o.id == $AppDataStore.currentPlaylistId)
            names = [playlist.name]
            for (const pl of $AppDataStore.editProject?.playlists) {
                if (pl.name != playlist.name) names.push(pl.name)
            }

            breadcrumbs = [
                { title: $AppDataStore.currentCustomer.customerName, active: false, goto: "projects" },
                { title: $AppDataStore.editProject.name, active: false, goto: "project" },
                { title: "playlists", goto: "playlists" },
                { title: names.length > 1 ? "" : names[0], active: true },
            ]
            if (!$AppDataStore.editProject.version) {
                ToastStore.append("Sorry, for NEW projects only!", 3, "warning", "center-top")
                gridData = []
            }
        } else goto("/")
    })

    let selectedSceneData = ""
    function handlePlaylistSceneSelected(e) {
        logI("SceneSelected " + e.detail)
        selectedSceneData = e.detail
    }
    function handleSceneSelected(e) {
        logI("SceneSelected " + e.detail)
        AppDataStore.editDiagramPlaylist("changeScene", selectedSceneData, e.detail)
    }

    let selectedOption = "diagram" // "table"
    let options = ["diagram", "table"]

    function gotoPage(page) {
        // zuerst den PlaylistSceneEditor inkl. SceneGrid ausblenden
        selectedSceneData = null
        // und erst dann auf die scenes Page - mit ScenesGrid - wechseln
        goto(page)
    }
</script>

<PageTransitions>
    <Navigation {breadcrumbs}>
        {#if names.length > 1}
            <PlaylistSelector {names}>{playlist.name}</PlaylistSelector>
        {/if}
        <NavItem>
            <div class="div-navitem">
                <Button on:click={() => gotoPage("/scenes")}>Scenes</Button>
                <Button on:click={() => gotoPage("/projectmanagement")}>Management</Button>
            </div>
        </NavItem>
        <div slot="slotCta">
            <ButtonGroupSelector bind:selectedOption {options} />
        </div>
    </Navigation>
    {#if selectedOption == "diagram"}
        <div>
            <PlaylistDiagram on:sceneSelected={handlePlaylistSceneSelected} />
            {#if selectedSceneData}
                <PlaylistSceneEditor playlistId={playlist.id} {selectedSceneData} on:sceneSelected={handleSceneSelected} />
            {/if}
        </div>
    {:else}
        <PlaylistGrid />
    {/if}
</PageTransitions>
