<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { goto } from "$app/navigation"
    import { Button } from "sveltestrap"

    import Navigation from "../components/Navigation.svelte"
    import PageTransitions from "../components/PageTransitions.svelte"
    import ProjectCardsPanel from "../panels/ProjectCardsPanel.svelte"
    import ImportProjectModal from "../modals/ImportProjectModal.svelte"
    import { download } from "../services/io"
    import { ToastStore } from "../stores/ToastStore"
    import { AppDataStore } from "../stores/AppDataStore"
    import { AuthStore } from "../stores/AuthStore"

    onDestroy(() => {
        logI(`onDestroy projectsettings page : ${$AuthStore?.state}`)
    })

    onMount(() => {
        logI(`onMount projectsettings page : ${$AuthStore?.state}`)
        // initialisieren allein bei signedIn, ansonsten ab auf die index page
        if ($AuthStore.state === "signedIn") {
            initialize()
        } else goto("/")
    })

    let breadcrumbs, project
    function initialize() {
        project = $AppDataStore.editProject
        if (project?.version) {
            // OK, im neuen Format
            breadcrumbs = [
                { title: $AppDataStore.currentCustomer?.customerName, active: false, goto: "projects" },
                { title: project.name, active: false, goto: "project" },
                { title: "management", active: true },
            ]
        } else ToastStore.append("Sorry, for NEW projects only!", 3, "primary", "center-top")
    }

    function exportProject() {
        logI("exportProject")

        // so bleibt die sortierung der keys erhalten
        /* let newScenes = []
        for (const scene of project.scenes) {
            let newScene = {}
            for (const key in scene) {
                if (key == "Title") newScene["title"] = scene[key]
                else newScene[key] = scene[key]
            }
            newScenes.push(newScene)
        }
        project.scenes = newScenes */

        // Feld scene.card frisch generieren:
        for (const scene of project.scenes) {
            scene["card"] = {
                body: scene.cardText,
                subTitle: scene.cardSubtitle,
                links: [],
            }
            if (scene.cardLink1Url && Object.keys(scene.cardLink1Url).length > 0 && scene.cardLink1Text && Object.keys(scene.cardLink1Text).length > 0)
                scene.card.links.push({ url: scene.cardLink1Url, text: scene.cardLink1Text })
            if (scene.cardLink2Url && Object.keys(scene.cardLink2Url).length > 0 && scene.cardLink2Text && Object.keys(scene.cardLink2Text).length > 0)
                scene.card.links.push({ url: scene.cardLink2Url, text: scene.cardLink2Text })
        }
        // nicht mehr, wird nun lokal im player erzeugt!
        /* for (const scene of project.scenes) {
          delete scene.card
        } */

        /* delete project.controlLabels
        project["controlLabels"] = {
            slot1: {
                icon: "gallery",
                label: {},
            },
            slot2: {
                icon: "skipPrevious",
                label: {},
            },
            slot3: {
                pause: {
                    icon: "pause",
                    label: {},
                    active: false,
                    showLabel: true,
                },
                play: {
                    icon: "play",
                    label: {},
                    active: false,
                    showLabel: true,
                },
                restart: {
                    icon: "restart",
                    label: {},
                    active: false,
                    showLabel: true,
                },
                loading: {
                    icon: "time",
                    label: {},
                    active: false,
                    showLabel: true,
                },
            },
            slot4: {
                icon: "skipNext",
                label: {},
            },
            slot5: {
                icon: "shoppingBag",
                label: {},
            },
        } */
        download(project, "export", project.id)
    }

    let modalOpen = false
    function importProject() {
        logI("importProject")
        modalOpen = true
    }
</script>

<PageTransitions>
    <Navigation {breadcrumbs}>
        <div>
            <div class="div-navitem">
                <Button on:click={() => goto("/scenes")}>Scenes</Button>
                <Button on:click={() => goto("/playlists")}>Playlists</Button>
            </div>
        </div>
        <div slot="slotCta">
            <div class="div-navitem">
                <Button on:click={() => goto("/publish")}>Publish</Button>
                <Button on:click={() => ToastStore.append("Backup project, comming soon!", 2, "primary", "center-top")}>Backup</Button>
                <Button on:click={exportProject}>Export</Button>
                <Button on:click={importProject}>Import</Button>
            </div>
        </div>
    </Navigation>

    <div class="container" style="margin: auto;">
        <ProjectCardsPanel />
    </div>
</PageTransitions>
<ImportProjectModal bind:open={modalOpen} update="true" />
