<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { goto } from "$app/navigation"
    import { AuthStore } from "../stores/AuthStore"
    import { NavItem, Button } from "sveltestrap"
    import { ToastStore } from "../stores/ToastStore"
    import Navigation from "../components/Navigation.svelte"
    import PageTransitions from "../components/PageTransitions.svelte"
    import ProjectHero from "../components/ProjectHero.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import { getStillAssetsUrl, resolveField } from "../services/assets"

    import NameModal from "../modals/NameModal.svelte"

    onDestroy(() => {
        logI(`onDestroy project page : ${$AuthStore?.state}`)
    })

    onMount(() => {
        logI(`onMount project page : ${$AuthStore?.state}`)
        // initialisieren allein bei signedIn, ansonsten ab auf die index page
        if ($AuthStore.state === "signedIn") {
            initialize()
        } else goto("/")
    })

    let project, breadcrumbs
    function initialize() {
        project = $AppDataStore.editProject
        if (project?.version) {
            // OK, im neuen Format
            breadcrumbs = [
                { title: $AppDataStore.currentCustomer?.customerName, active: false, goto: "projects" },
                { title: project.name, active: true },
            ]
        } else ToastStore.append("Sorry, for NEW projects only!", 3, "primary", "center-top")
    }

    $: imageSrc = getImageSrc(project)

    function getImageSrc(project) {
        if (project) {
            let p1 = getStillAssetsUrl(project)
            let p2 = resolveField(project.poster16x9, project)
            if (!p2) p2 = resolveField(project.poster, project)
            let url = p1 + p2 + "?alt=media"
            return url
        }
        return ""
    }

    function handleTextCommit(e) {
        logI("handleTextCommit")
        if ($AppDataStore.editProject.languages.includes(e.detail)) {
            ToastStore.append(`Language name '${e.detail}' already exists!`, 3, "danger", "center-top")
            return
        }
        let languagesNew = [...$AppDataStore.editProject.languages, e.detail]
        AppDataStore.setLanguages(languagesNew)
    }

    $: modalNameOpen =  $AppDataStore.editProject.languages.length < 1
    let modalField = "Master language"
    let modalSubtext = "[2 char uppercase]"
</script>

<PageTransitions>
    <Navigation {breadcrumbs}>
        <NavItem>
            <div class="div-navitem">
                <Button on:click={() => goto("/scenes")}>Scenes</Button>
                <Button on:click={() => goto("/playlists")}>Playlists</Button>
                <Button on:click={() => goto("/projectmanagement")}>Management</Button>
            </div>
        </NavItem>
    </Navigation>

    <div>
        {#if imageSrc && project}
            <img class="fill" src={imageSrc} alt={project.name} />
        {/if}
    </div>
    <ProjectHero />
</PageTransitions>

<NameModal {modalField} {modalSubtext} forceUpperCase="true" minLength="2" maxLength="2" bind:open={modalNameOpen} on:textCommit={handleTextCommit} />

<style>
    img {
        position: absolute;
        /*   min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto; */

        width: 100%;
        object-fit: contain;
        overflow-y: hidden;
    }
</style>
