<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { goto } from "$app/navigation"
    import { Button } from "sveltestrap"

    import Navigation from "../components/Navigation.svelte"
    import PageTransitions from "../components/PageTransitions.svelte"
    import PublishPanel from "../panels/PublishPanel.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import { AuthStore } from "../stores/AuthStore"
    import { PublishStore } from "../stores/PublishStore"

    onDestroy(() => {
        logI(`onDestroy publishing page : ${$AuthStore?.state}`)
    })

    onMount(() => {
        logI(`onMount publishing page : ${$AuthStore?.state}`)
        // initialisieren allein bei signedIn, ansonsten ab auf die index page
        if ($AuthStore.state === "signedIn") {
            initialize()
        } else goto("/")
    })

    let breadcrumbs, project

    async function initialize() {
        project = $AppDataStore.editProject
        breadcrumbs = [
            { title: $AppDataStore.currentCustomer?.customerName, active: false, goto: "projects" },
            { title: project.name, active: false, goto: "project" },
            { title: "publishing", active: true },
        ]
        await PublishStore.init(project.id)
    }
</script>

<PageTransitions>
    <Navigation {breadcrumbs}>
        <div>
            <div class="div-navitem">
                <Button on:click={() => goto("/scenes")}>Scenes</Button>
                <Button on:click={() => goto("/playlists")}>Playlists</Button>
                <Button on:click={() => goto("/projectmanagement")}>Management</Button>
            </div>
        </div>
    </Navigation>

    {#await initialize}
        <!-- promise is pending -->
    {:then}
        <div class="container" style="margin: auto;">
            <PublishPanel />
        </div>
    {/await}
</PageTransitions>
