<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { goto } from "$app/navigation"
    import { AuthStore } from "../stores/AuthStore"
    import { NavItem, Button, Spinner, ButtonDropdown, DropdownToggle, DropdownMenu, DropdownItem } from "sveltestrap"
    import { ToastStore } from "../stores/ToastStore"
    import { CloudflareStore } from "../stores/CloudflareStore"
    import Navigation from "../components/Navigation.svelte"
    import PageTransitions from "../components/PageTransitions.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import ScenesGrid from "../grids/ScenesGrid.svelte"
    import ButtonGroupSelector from "../components/ButtonGroupSelector.svelte"
    import BatchUploadModal from "../modals/BatchUploadModal.svelte"
    import CheckModal from "../modals/CheckModal.svelte"

    onDestroy(() => {
        logI(`onDestroy scenes page : ${$AuthStore?.state}`)
    })

    onMount(() => {
        logI(`onMount scenes page : ${$AuthStore?.state}`)
        // initialisieren allein bei signedIn, ansonsten ab auf die index page
        if ($AuthStore.state === "signedIn") {
            initialize()
        } else goto("/")
    })

    let breadcrumbs
    function initialize() {
        if ($AppDataStore.editProject.version) {
            breadcrumbs = [
                { title: $AppDataStore.currentCustomer.customerName, active: false, goto: "projects" },
                { title: $AppDataStore.editProject.name, active: false, goto: "project" },
                { title: "scenes", active: true },
            ]
            options = $AppDataStore.editProject.languages
            if (options && options.length > 0) selectedOption = options[0]
        } else ToastStore.append("Sorry, for NEW projects only!", 3, "warning", "center-top")
    }

    let selectedOption = ""
    let options = []
    let uploadingProject = false
    async function checkSceneDurations() {
        uploadingProject = true
        await CloudflareStore.refresh()
        let clipInfos = CloudflareStore.getClipInfos()
        if (clipInfos) {
            let scenes = $AppDataStore.editProject.scenes
            for (const scene of scenes) {
                for (const field in scene) {
                    if (field.startsWith("clip")) {
                        let content = scene[field]
                        for (const language in content) {
                            let clipObject = content[language]
                            let clipInfo = clipInfos.find((o) => clipObject.url.includes(o.stream_uid))
                            if (clipInfo && clipInfo.stream_duration != clipObject.duration)
                                AppDataStore.setSceneField(scene.id, field, { url: clipObject.url, duration: clipInfo.stream_duration }, language)
                        }
                    }
                }
            }
        }
        uploadingProject = false
    }

    let modalUploadOpen = false
    let modalUploadMode = ""

    function directoryUpload(mode) {
        logI("directoryUpload " + mode)
        modalUploadMode = mode
        modalUploadOpen = true
    }

    let modalOpen = false
    let modalTitle = "Scenes"
    let modalSelectedOptions
    let modalOptions = []
    function deleteScenes() {
        modalSelectedOptions = []
        modalOptions.length = 0
        for (const scene of $AppDataStore.editProject.scenes) {
            if (!sceneRefd(scene.id)) modalOptions.push(scene.name)
        }
        modalOpen = true
    }

    function sceneRefd(sceneId) {
        for (const playlist of $AppDataStore.editProject.playlists) {
            for (const key in playlist.scenes) {
                let playlistScene = playlist.scenes[key]
                if (playlistScene) {
                    if (playlistScene.trunk.sceneId == sceneId) return true
                    if (playlistScene.branches) {
                        for (const branchKey in playlistScene.branches) {
                            let branch = playlistScene.branches[branchKey]
                            if (branch) {
                                for (const branchSceneKey in branch) {
                                    let branchScene = branch[branchSceneKey]
                                    if (branchScene.sceneId == sceneId) return true
                                }
                            }
                        }
                    }
                }
            }
        }
        return false
    }

    function handleOptionSelected() {
        logI("handleOptionSelected")
        for (const sceneName of modalSelectedOptions) {
            let scene = $AppDataStore.editProject.scenes.find((o) => o.name == sceneName)
            if (scene) AppDataStore.deleteScene(scene.id)
        }
    }
</script>

<PageTransitions>
    <Navigation {breadcrumbs}>
        <NavItem>
            <div class="div-navitem">
                <Button on:click={() => goto("/playlists")}>Playlists</Button>
                <Button on:click={() => goto("/projectmanagement")}>Management</Button>
            </div>
        </NavItem>
        <div slot="slotCta">
            <div class="div-slot">
                {#if uploadingProject}
                    <Spinner />
                {:else}
                    <div class="div-navitem">
                        <ButtonDropdown>
                            <DropdownToggle caret>Scenes</DropdownToggle>
                            <DropdownMenu>
                                <DropdownItem on:click={() => AppDataStore.addScene()}>Add Scene</DropdownItem>
                                <DropdownItem on:click={deleteScenes}>Delete Scenes</DropdownItem>
                            </DropdownMenu>
                        </ButtonDropdown>
                        <ButtonDropdown>
                            <DropdownToggle caret>Assets</DropdownToggle>
                            <DropdownMenu>
                                <DropdownItem on:click={() => directoryUpload("update")}>Update Assets</DropdownItem>
                                <DropdownItem on:click={() => directoryUpload("import")}>Import Assets</DropdownItem>
                            </DropdownMenu>
                        </ButtonDropdown>
                        <Button on:click={checkSceneDurations}>CheckClips</Button>
                    </div>
                {/if}
                <ButtonGroupSelector bind:selectedOption {options} />
            </div>
        </div>
    </Navigation>

    {#if selectedOption}
        <ScenesGrid language={selectedOption} />
    {/if}
</PageTransitions>
<BatchUploadModal uploadMode={modalUploadMode} bind:open={modalUploadOpen} />
<CheckModal modalTitle="Select scenes to delete" bind:modalSelectedOptions {modalOptions} bind:open={modalOpen} on:selectionCommitted={handleOptionSelected} />

<style>
    .div-slot {
        display: flex;
    }
</style>
