<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { goto } from "$app/navigation"
    import { AuthStore } from "../stores/AuthStore"
    import { NavItem, Button } from "sveltestrap"
    import Navigation from "../components/Navigation.svelte"
    import PageTransitions from "../components/PageTransitions.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import IconButton from "../components/IconButton.svelte"
    import SupervisorUserManagementGrid from "../grids/SupervisorUserManagementGrid.svelte"
   

    onDestroy(() => {
        logI(`onDestroy supervisorusermanagement page : ${$AuthStore?.state}`)
    })

    onMount(() => {
        logI(`onMount supervisorusermanagement page : ${$AuthStore?.state}`)
        // initialisieren allein bei signedIn, ansonsten ab auf die index page
        if ($AuthStore.state === "signedIn" && $AppDataStore.customersDict) {
            title = "admin usermanagement"
        } else goto("/")
    })

    let title

    function handleAddSupervisor() {
        grid.initAddingUser("supervise")
    }
    function handleAddAdministrator() {
        grid.initAddingUser("admin")
    }

    let grid


  </script>

<PageTransitions>
    <Navigation {title}>
        <NavItem>
            <div class="div-navitem">
                <IconButton icon="ArrowLeft" on:click={() => window.history.back()} />
            </div>
        </NavItem>
        <NavItem>
            <Button on:click={handleAddSupervisor}>Add supervisor</Button>
            <Button on:click={handleAddAdministrator}>Add administrator</Button>
        </NavItem>

    </Navigation>
    <div class="container" style="margin: auto;">
        <SupervisorUserManagementGrid bind:this={grid} />
    </div>
</PageTransitions>

