<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { goto } from "$app/navigation"
    import { NavItem, Button } from "sveltestrap"
    import { ToastStore } from "../stores/ToastStore"
    import { AuthStore } from "../stores/AuthStore"
    import { AppDataStore } from "../stores/AppDataStore"

    import Navigation from "../components/Navigation.svelte"
    import PageTransitions from "../components/PageTransitions.svelte"
    import ButtonGroupSelector from "../components/ButtonGroupSelector.svelte"
    import TemplateCardsPanel from "../panels/TemplateCardsPanel.svelte"

    onDestroy(() => {
        logI(`onDestroy template page : ${$AuthStore?.state}`)
    })

    onMount(() => {
        logI(`onMount template page : ${$AuthStore?.state}`)
        // initialisieren allein bei signedIn, ansonsten ab auf die index page
        if ($AuthStore.state === "signedIn") {
            initialize()
        } else goto("/")
    })

    let breadcrumbs, options

    $: selectedOption = "controls"

    function initialize() {
        breadcrumbs = [
            { title: $AppDataStore.currentCustomer.customerName, active: false, goto: "projects" },
            { title: $AppDataStore.editProject.name, active: false, goto: "project" },
            { title: "template", active: true },
        ]
        if ($AppDataStore.editProject.version) {
            let template = $AppDataStore.editProject.template
            options = []
            for (const templateKey in template) {
                options.push(templateKey)
            }
            options.sort()
        } else {
            ToastStore.append("Sorry, for NEW projects only!", 3, "warning", "center-top")
            template = {}
        }
    }
</script>

<PageTransitions>
    <Navigation {breadcrumbs}>
        <NavItem>
            <div class="div-navitem">
                <Button on:click={() => goto("/scenes")}>Scenes</Button>
                <Button on:click={() => goto("/playlists")}>Playlists</Button>
            </div>
        </NavItem>
        <NavItem>
            <ButtonGroupSelector bind:selectedOption {options} />
        </NavItem>
    </Navigation>
    <div class="container" style="margin: auto;">
        <TemplateCardsPanel bind:selectedTemplateCategory={selectedOption} />
    </div>
</PageTransitions>
