<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import CustomerCard from "../cards/CustomerCard.svelte"
    import { scale, fade } from "svelte/transition"

    onDestroy(() => {
        logI('onDestroy CustomersPanel')
    })

    onMount(() => {
        logI('onMount CustomersPanel')


    })
 
</script>

<div class="container padding-top">
    <!-- <h1 class="container-preview">playlist Cards</h1> -->
    <div class="row row-cols-auto">
        {#each $AppDataStore.customersDict as customer}
            <!-- <div class="col" in:scale out:fade={{ duration: 500 }}> -->
            <div class="col" in:scale>
                <CustomerCard {customer}/>
            </div>
        {/each}
    </div>
</div>

<style>
    .padding-top {
        padding-top: 2em;
    }
</style>

