<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import PlaylistCard from "../cards/PlaylistCard.svelte"
    import { scale, fade } from "svelte/transition"

    onDestroy(() => {
        logI("onDestroy PlaylistsPanel")
    })

    onMount(() => {
        logI("onMount PlaylistsPanel")
    })
</script>

<div class="container padding-top">
    <!-- <h1 class="container-preview">playlist Cards</h1> -->
    <div class="row row-cols-auto">
        {#each $AppDataStore.editProject?.playlists as playlist}
            <!-- <div class="col" in:scale out:fade={{ duration: 500 }}> -->
            <div class="col" in:scale>
                <PlaylistCard {playlist} on:editPlaylist on:clonePlaylist on:deletePlaylist />
            </div>
        {/each}
    </div>
</div>

<style>
    .padding-top {
        padding-top: 2em;
    }
</style>
