<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { scale } from "svelte/transition"
    import { Label, Input, Card, CardBody, Button, CardHeader, CardTitle, CardSubtitle, CardText, FormGroup, Accordion, AccordionItem } from "sveltestrap"
    import LanguageList from "../components/LanguageList.svelte"
    import ControlLabelsList from "../components/ControlLabelsList.svelte"
    import CheckStills from "../components/CheckStills.svelte"
    import SelectOrUploadButton from "../components/SelectOrUploadButton.svelte"

    import SplashScreenLabelsList from "../components/SplashScreenLabelsList.svelte"
    import EndCardAccordion from "../components/EndCardAccordion.svelte"
    import RichTextModal from "../modals/RichTextModal.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import { ToastStore } from "../stores/ToastStore"

    // favIcon
    import { UploadStore } from "../stores/UploadStore"
    import { uploadGoogleStorage } from "../services/uploadGoogleStorage"
    import { getFavIconUrl } from "../services/assets"

    import { toLocaleString } from "../services/utils"

    onDestroy(() => {
        logI("onDestroy ProjectForm")
    })

    onMount(() => {
        logI("onMount ProjectForm")
    })

    let titles, subTitles, poster16x9s, poster3x4s, poster9x16s, hints, startButtonTexts, crosslinksDescriptions, favIconUrl
    $: project = $AppDataStore.editProject
    $: reactOnProject(project)
    function reactOnProject() {
        uploadId = undefined
        uploadSource = ""
        uploadFiles = undefined
        titles = getTexts(project, "title")
        subTitles = getTexts(project, "subTitle")
        poster16x9s = getTexts(project, "poster16x9")
        poster3x4s = getTexts(project, "poster3x4")
        poster9x16s = getTexts(project, "poster9x16")
        hints = getTexts(project, "hint")
        startButtonTexts = getTexts(project, "startButtonText")
        crosslinksDescriptions = getTexts(project, "crosslinksDescription")
        favIconUrl = getFavIconUrl(project)
    }

    let uploadId = undefined
    let uploadSource = undefined
    let uploadFiles = undefined
    $: reactOnUploadFiles(uploadFiles)
    function reactOnUploadFiles() {
        if (uploadFiles && uploadFiles.length == 1) {
            if (uploadFiles[0].name.endsWith(".svg")) startUpload()
            else {
                uploadSource = undefined
                ToastStore.append(`Sorry, but ${uploadFiles[0].name} is not valid!`, 3, "danger", "center-top")
                uploadFiles = undefined
            }
        }
    }
    function startUpload() {
        logI("startUpload")
        uploadId = UploadStore.addUpload(uploadSource, {
            customerId: $AppDataStore.currentCustomer.customerId,
            projectId: $AppDataStore.editProject.id,
            field: "still",
            projectField: "favIcon",
            url: uploadFiles[0].name,
        })
        uploadGoogleStorage(uploadId, uploadFiles[0])
    }

    function getTexts(project, field) {
        logT("getTexts")
        if (project) {
            let result = []
            if (!project[field]) project[field] = {}
            for (const lng of project.languages) {
                let text = project[field][lng]
                if (!text) text = ""
                result.push({ lanaguage: lng, text: text })
            }
            return result
        }
    }

    function handleInput(e) {
        console.log(e.target.value)
        if (e.target.type == "checkbox") {
            if (e.target.id == "crosslinksDescription") {
                if (e.target.checked) AppDataStore.setProjectField({}, e.target.id)
                else AppDataStore.setProjectField({}, e.target.id)
            } else AppDataStore.setProjectField(e.target.checked, e.target.id)
        } else AppDataStore.setProjectField(e.target.value, e.target.id)
    }

    let modalRichTextOpen = false
    let modalObjects = []
    function handleEditButton() {
        logI("handleEditButton")
        modalObjects.length = 0
        if (!project.description) project.description = {}
        for (const lng of $AppDataStore.editProject.languages) {
            let text = project.description[lng]
            if (!text) text = ""
            modalObjects.push({ id: lng, text: text, edit: false, divRte: null, sfRte: null })
        }
        modalRichTextOpen = true
    }

    function handleTextCommit(e) {
        logI("handleTextCommit")
        let description = {}
        for (const item of e.detail) {
            description[item.id] = item.text
        }
        AppDataStore.setProjectField(description, "description")
    }
</script>

<div class="container padding-top">
    {#if project}
        <div class="row row-cols-auto">
            <div class="col" in:scale>
                <Card class="mb-3 projectprops-card">
                    <CardHeader>
                        <CardTitle>History</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <CardSubtitle>
                            <FormGroup>
                                <Label>ID</Label>
                                <Input type="text" value={project.id} readonly />
                            </FormGroup>
                        </CardSubtitle>
                        <!--    <CardText>Project Infos</CardText> -->

                        <FormGroup>
                            <Label>createdAt</Label>
                            <Input type="text" value={toLocaleString(project.createdAt)} readonly />
                        </FormGroup>

                        {#if project.createdBy}
                            <FormGroup>
                                <Label>createdBy</Label>
                                <Input type="text" value={project.createdBy} readonly />
                            </FormGroup>
                        {/if}

                        {#if project.updatedAt}
                            <FormGroup>
                                <Label>updatedAt</Label>
                                <Input type="text" value={toLocaleString(project.updatedAt)} readonly />
                            </FormGroup>
                            <FormGroup>
                                <Label>updatedBy</Label>
                                <Input type="text" value={project.updatedBy} readonly />
                            </FormGroup>
                        {/if}

                        {#if project.importedAt}
                            <FormGroup>
                                <Label>importedAt</Label>
                                <Input type="text" value={toLocaleString(project.importedAt)} readonly />
                            </FormGroup>
                            <FormGroup>
                                <Label>importedBy</Label>
                                <Input type="text" value={project.importedBy} readonly />
                            </FormGroup>
                        {/if}

                        {#if project.clonedAt}
                            <FormGroup>
                                <Label>clonedAt</Label>
                                <Input type="text" value={toLocaleString(project.clonedAt)} readonly />
                            </FormGroup>
                            <FormGroup>
                                <Label>clonedBy</Label>
                                <Input type="text" value={project.clonedBy} readonly />
                            </FormGroup>
                        {/if}

                        {#if project.publishedAt}
                            <FormGroup>
                                <Label>publishedAt</Label>
                                <Input type="text" value={toLocaleString(project.publishedAt)} readonly />
                            </FormGroup>
                            <FormGroup>
                                <Label>publishedBy</Label>
                                <Input type="text" value={project.publishedBy} readonly />
                            </FormGroup>
                        {/if}
                    </CardBody>
                </Card>
            </div>

            <div class="col" in:scale>
                <Card class="mb-3 projectprops-card">
                    <CardHeader>
                        <CardTitle>Splashscreen</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <CardSubtitle />
                        <!--   <CardText>Properties for project deployment</CardText> -->
                        <Accordion>
                            <AccordionItem header="Project Title">
                                {#if titles && titles.length}
                                    {#each titles as title}
                                        <Label>{title.lanaguage}</Label>
                                        <Input id={"title§§" + title.lanaguage} type="text" value={title.text} on:input={handleInput} />
                                    {/each}
                                {/if}
                            </AccordionItem>

                            <AccordionItem header="Subtitle">
                                {#if subTitles && subTitles.length}
                                    {#each subTitles as subTitle}
                                        <Label>{subTitle.lanaguage}</Label>
                                        <Input id={"subTitle§§" + subTitle.lanaguage} type="text" value={subTitle.text} on:input={handleInput} />
                                    {/each}
                                {/if}
                            </AccordionItem>

                            <AccordionItem header="Description">
                                <!--    {#if descriptions && descriptions.length}
                                    {#each descriptions as description}
                                        <Label>{description.lanaguage}</Label>
                                        <Input id={"description§§" + description.lanaguage} type="text" value={description.text} on:input={handleInput} />
                                    {/each}
                                {/if} -->
                                <Button on:click={handleEditButton} block>Edit...</Button>
                            </AccordionItem>

                            <AccordionItem header="Hint">
                                {#if hints && hints.length}
                                    {#each hints as hint}
                                        <Label>{hint.lanaguage}</Label>
                                        <Input id={"hint§§" + hint.lanaguage} type="text" value={hint.text} on:input={handleInput} />
                                    {/each}
                                {/if}
                            </AccordionItem>

                            <AccordionItem header="startButtonText">
                                {#if startButtonTexts && startButtonTexts.length}
                                    {#each startButtonTexts as startButtonText}
                                        <Label>{startButtonText.lanaguage}</Label>
                                        <Input
                                            id={"startButtonText§§" + startButtonText.lanaguage}
                                            type="text"
                                            value={startButtonText.text}
                                            on:input={handleInput}
                                        />
                                    {/each}
                                {/if}
                            </AccordionItem>
                            <AccordionItem header="splashscreenLabels">
                                <SplashScreenLabelsList />
                            </AccordionItem>
                        </Accordion>
                    </CardBody>
                </Card>
            </div>

            <div class="col" in:scale>
                <Card class="mb-3 projectprops-card">
                    <CardHeader>
                        <CardTitle>EndCard</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <CardSubtitle />
                        <!--   <CardText>Properties for project deployment</CardText> -->
                        <EndCardAccordion {project} />
                    </CardBody>
                </Card>
            </div>

            <div class="col" in:scale>
                <Card class="mb-3 projectprops-card">
                    <CardHeader>
                        <CardTitle>Poster</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <CardSubtitle />
                        <!--   <CardText>Properties for project deployment</CardText> -->
                        <Accordion>
                            <AccordionItem header="16x9">
                                {#if poster16x9s && poster16x9s.length}
                                    {#each poster16x9s as poster16x9}
                                        <Label>{poster16x9.lanaguage}</Label>
                                        <!-- <Input id={"poster16x9§§" + poster16x9.lanaguage} type="text" value={poster16x9.text} on:input={handleInput} /> -->
                                        <SelectOrUploadButton
                                            title="poster16x9"
                                            id={"poster16x9§§" + poster16x9.lanaguage}
                                            value={poster16x9.text}
                                            modalValidExtensions={["jpg", "jpeg", "png", "webp", "gif"]}
                                        />
                                    {/each}
                                {/if}
                            </AccordionItem>

                            <AccordionItem header="3x4">
                                {#if poster3x4s && poster3x4s.length}
                                    {#each poster3x4s as poster3x4}
                                        <Label>{poster3x4.lanaguage}</Label>
                                        <SelectOrUploadButton
                                            title="poster3x4"
                                            id={"poster3x4§§" + poster3x4.lanaguage}
                                            value={poster3x4.text}
                                            modalValidExtensions={["jpg", "jpeg", "png", "webp", "gif"]}
                                        />
                                    {/each}
                                {/if}
                            </AccordionItem>

                            <AccordionItem header="9x16">
                                {#if poster9x16s && poster9x16s.length}
                                    {#each poster9x16s as poster9x16}
                                        <Label>{poster9x16.lanaguage}</Label>
                                        <SelectOrUploadButton
                                            title="poster9x16"
                                            id={"poster9x16§§" + poster9x16.lanaguage}
                                            value={poster9x16.text}
                                            modalValidExtensions={["jpg", "jpeg", "png", "webp", "gif"]}
                                        />
                                    {/each}
                                {/if}
                            </AccordionItem>
                        </Accordion>

                        <br />
                        <FormGroup>
                            <Label>favIcon [svg]:</Label>
                            <SelectOrUploadButton title="favIcon" id="favIcon" value={project.favIcon} modalValidExtensions={["svg"]} />
                        </FormGroup>
                    </CardBody>
                </Card>
            </div>

            <div class="col" in:scale>
                <Card class="mb-3 projectprops-card">
                    <CardHeader>
                        <CardTitle>Playercontrols</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <CardSubtitle />
                        <!-- <CardText>Properties for project deployment</CardText> -->
                        <FormGroup>
                            <ControlLabelsList />
                        </FormGroup>
                    </CardBody>
                </Card>
            </div>

            <div class="col" in:scale>
                <Card class="mb-3 projectprops-card">
                    <CardHeader>
                        <CardTitle>Languages</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <CardSubtitle />
                        <!-- <CardText>Properties for project deployment</CardText> -->
                        <FormGroup>
                            <LanguageList />
                        </FormGroup>
                    </CardBody>
                </Card>
            </div>

            <div class="col" in:scale>
                <Card class="mb-3 projectprops-card">
                    <CardHeader>
                        <CardTitle>Stills</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <CardSubtitle />
                        <CardText>Show stills:</CardText>
                        <FormGroup>
                            <CheckStills />
                        </FormGroup>
                        <FormGroup>
                            <Label>Play all videos muted:</Label>
                            <Input id="videosMuted" type="checkbox" checked={project.videosMuted} on:input={handleInput} />
                        </FormGroup>
                    </CardBody>
                </Card>
            </div>

            <div class="col" in:scale>
                <Card class="mb-3 projectprops-card">
                    <CardHeader>
                        <CardTitle>Customer</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <CardSubtitle />
                        <!--   <CardText>Properties for project deployment</CardText> -->
                        <FormGroup>
                            <Label>Project Name</Label>
                            <Input id="name" type="text" value={project.name} on:input={handleInput} />
                        </FormGroup>

                        <FormGroup>
                            <Label>Show Customer Branding</Label>
                            <Input id="lumeBranding" type="checkbox" checked={project.lumeBranding} on:input={handleInput} />
                        </FormGroup>
                    </CardBody>
                </Card>
            </div>

            <div class="col" in:scale>
                <Card class="mb-3 projectprops-card">
                    <CardHeader>
                        <CardTitle>Crosslinks</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <CardSubtitle />
                        <Label>Crosslinks Description</Label>
                        <FormGroup>
                            {#if crosslinksDescriptions && crosslinksDescriptions.length}
                                {#each crosslinksDescriptions as crosslinksDescription}
                                    <Label>{crosslinksDescription.lanaguage}</Label>
                                    <Input
                                        id={"crosslinksDescription§§" + crosslinksDescription.lanaguage}
                                        type="text"
                                        value={crosslinksDescription.text}
                                        on:input={handleInput}
                                    />
                                {/each}
                            {/if}
                        </FormGroup>
                    </CardBody>
                </Card>
            </div>

            <div class="col" in:scale>
                <Card class="mb-3 projectprops-card">
                    <CardHeader>
                        <CardTitle>Play States</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <CardSubtitle />
                        <FormGroup>
                            <Label>Resume pause on scene jump:</Label>
                            <Input id="resumePauseOnSceneJump" type="checkbox" checked={project.resumePauseOnSceneJump} on:input={handleInput} />
                        </FormGroup>
                        <FormGroup>
                            <Label>Pause on minimize or focus lost:</Label>
                            <Input id="pauseOnFocusLost" type="checkbox" checked={project.pauseOnFocusLost} on:input={handleInput} />
                        </FormGroup>
                        <FormGroup>
                            <Label>Restart Tour when finished:</Label>
                            <Input id="autoRestart" type="checkbox" checked={project.autoRestart} on:input={handleInput} />
                        </FormGroup>
                    </CardBody>
                </Card>
            </div>

            <div class="col" in:scale>
                <Card class="mb-3 projectprops-card">
                    <CardHeader>
                        <CardTitle>Gallery</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <CardSubtitle />
                        <FormGroup>
                            <Label>Show Gallery Titles:</Label>
                            <Input id="showGalleryTitles" type="checkbox" checked={project.showGalleryTitles} on:input={handleInput} />
                        </FormGroup>
                    </CardBody>
                </Card>
            </div>
        </div>
    {/if}
</div>
<RichTextModal modalField="Desription" {modalObjects} bind:open={modalRichTextOpen} on:textCommit={handleTextCommit} />

<style>
    :global(.projectprops-card) {
        width: 380px;
    }
    .padding-top {
        padding-top: 2em;
    }
</style>
