<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { AuthStore } from "../stores/AuthStore"
    import { AppDataStore } from "../stores/AppDataStore"
    import ProjectCard from "../cards/ProjectCard.svelte"
    import { scale } from "svelte/transition"

    onDestroy(() => {
        logI(`onDestroy projects panel: ${$AuthStore?.state}`)
    })

    onMount(() => {
        logI(`onMount projects panel: ${$AuthStore?.state}`)
    })

    //$: logT($AppDataStore.projects?.length + " PROJECTS ")
</script>

<div class="container padding-top">
    <!-- <h1 class="container-preview">Project Cards</h1> -->
    <div class="row row-cols-auto">
        {#each $AppDataStore.projects as project}
            <!-- <div class="col" in:scale out:fade={{ duration: 500 }}> -->
            <div class="col" in:scale>
                <ProjectCard {project} on:projectSelected />
            </div>
        {/each}
    </div>
</div>

<style>
    .padding-top {
        padding-top: 2em;
    }
</style>
