<script>
    import { logE, logW, logI, logT } from "../services/log";
    import { onMount, onDestroy } from "svelte";
    import { AppDataStore } from "../stores/AppDataStore";
    import PublishCard from "../cards/PublishCard.svelte";
    import { scale, fade } from "svelte/transition";

    import { PublishStore } from "../stores/PublishStore";
    import exp from "constants";

    onDestroy(() => {
        logI("onDestroy PublishPanel");
    });

    onMount(() => {
        logI("onMount PublishPanel");
    });
</script>

<div class="container padding-top">
    <!-- <h1 class="container-preview">playlist Cards</h1> -->
    <div class="row row-cols-auto">
        {#each $PublishStore as publishInfo}
            <!-- <div class="col" in:scale out:fade={{ duration: 500 }}> -->
            {#if publishInfo.project}
                <div class="col" in:scale>
                    <PublishCard {publishInfo} />
                </div>
            {/if}
        {/each}
    </div>
</div>

<style>
    .padding-top {
        padding-top: 2em;
    }
</style>
