<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import { getTemplateCardObject } from "../services/template"
    import TemplateCard from "../cards/TemplateCard.svelte"
    import { scale } from "svelte/transition"

    onMount(() => {
        logI("onMount template cards panel")
    })
    onDestroy(() => {
        logI("onDestroy template cards panel")
    })

    export let selectedTemplateCategory

    let stamp
    $: if ($AppDataStore.stamp > stamp) templateCardObjects = getTemplateCardObjects(selectedTemplateCategory)

    $: templateCardObjects = getTemplateCardObjects(selectedTemplateCategory)

    function getTemplateCardObjects(templateCategory) {
        stamp = new Date()
        let cardObjects = []
        if ($AppDataStore.editProject) {
            let template = $AppDataStore.editProject.template[templateCategory]
            switch (templateCategory) {
                case "controls":
                    cardObjects.push(getTemplateCardObject(templateCategory, "alternatePosition", [template.alternatePosition]))
                    let functionItems = template.function
                    let visibilityItems = template.visibility
                    let functionItemKeys = []
                    for (const key in functionItems) {
                        functionItemKeys.push(key)
                    }
                    for (let k = 0; k < functionItemKeys.length; k++) {
                        const functionItemKey = functionItemKeys[k]
                        let functionItemValue = functionItems[functionItemKey]
                        let visibilityItemValue = visibilityItems[functionItemKey]
                        cardObjects.push(getTemplateCardObject(templateCategory, functionItemKey, [functionItemValue, visibilityItemValue]))
                    }
                    break

                case "splashscreen":
                    cardObjects.push(getTemplateCardObject(templateCategory, "textPosition", [template.textPosition]))
                    cardObjects.push(getTemplateCardObject(templateCategory, "textColor", [template.branding.textColor, template.content.textColor]))
                    cardObjects.push(getTemplateCardObject(templateCategory, "visibility", [template.visibility.customer, template.visibility.project, template.visibility.project]))
                    break
                case "crosslinks":
                    cardObjects.push(getTemplateCardObject(templateCategory, "visibility", [template.function.colorChange, template.function.questions]))
                    break
                case "ui":
                    cardObjects.push(getTemplateCardObject(templateCategory, "controls", [template.autohide]))
                    break
                case "global":
                    cardObjects.push(getTemplateCardObject(templateCategory, "autoPause", [template.autoPause]))
                    break
            }
        }
        return cardObjects
    }
</script>

<div class="container">
    <!-- <h1 class="container-preview">Project Cards</h1> -->
    <div class="row row-cols-auto">
        {#each templateCardObjects as templateCardObject}
            <div class="col" in:scale>
                <TemplateCard {templateCardObject} />
            </div>
        {/each}
    </div>
</div>
