<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Button, FormGroup, Modal, ModalBody, ModalFooter, ModalHeader, Dropdown, DropdownToggle, DropdownMenu, DropdownItem } from "sveltestrap"
    import { createEventDispatcher } from "svelte"
    import { getGoogleStorageAssetInfos } from "../services/uploadGoogleStorage"

    const dispatch = createEventDispatcher()

    onDestroy(() => {
        logI("onDestroy AudioModal")
    })

    onMount(() => {
        logI("onMount AudioModal")
    })

    export let open = false
    export let modalSize = ""
    export let modalSubDir = ""
    export let modalAssetType = ""
    export let modalValue

    function toggle() {
        open = !open
    }

    let modalAssets = []
    async function handleOpen() {
        modalAssets = await getGoogleStorageAssetInfos("projects", modalSubDir, modalAssetType)
        if (modalValue) {
            let selected = modalAssets.find((o) => o.name == modalValue)
            if (selected) {
                audio.src = getUrl(selected)
                //audio.play()
            }
        }
    }

    function handleSet() {
        let clip = modalAssets.find((o) => o.name == modalValue)
        if (clip) {
            dispatch("commit", clip)
            modalValue = undefined
            open = !open
        }
    }

    function clipSelected(e) {
        console.log(e)
        let selected = modalAssets.find((o) => o.name == e)
        if (selected) {
            modalValue = selected.name
            audio.src = getUrl(selected)
            //audio.play()
        }
    }

    function getUrl(clip) {
        return `https://firebasestorage.googleapis.com/v0/b/lumetour-dev-assets/o/projects%2F${modalSubDir}%2F${modalAssetType}%2F${clip.name}?alt=media`
    }

    let audio
</script>

<Modal isOpen={open} {toggle} bind:size={modalSize} on:open={handleOpen}>
    {#if modalAssetType}
        <ModalHeader {toggle}>{modalAssetType}</ModalHeader>
    {/if}
    <ModalBody>
        <FormGroup>
            <Dropdown>
                <DropdownToggle caret>{modalValue}</DropdownToggle>
                <DropdownMenu end>
                    {#each modalAssets as modalAsset}
                        <DropdownItem on:click={clipSelected(modalAsset.name)} active={modalAsset.name == modalValue}>{modalAsset.name}</DropdownItem>
                    {/each}
                </DropdownMenu>
            </Dropdown>
        </FormGroup>
        <div class="div-player">
            <Button>PLAY</Button>
            <audio bind:this={audio} />
        </div>
    </ModalBody>
    <ModalFooter>
        <Button color="primary" on:click={handleSet}>Set</Button>
        <Button color="secondary" on:click={toggle}>Cancel</Button>
    </ModalFooter>
</Modal>

<style>
    .div-player {
        position: relative;
        height: 300px;
        /*  border: solid 1px red; */
    }
</style>
