<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { getCloudflareUploads, getGoogleStorageUploads } from "../services/batchUpload"
    import { onMount, onDestroy } from "svelte"
    import { Button, Input, Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap"
    import { AppDataStore } from "../stores/AppDataStore"
    import { uploadCloudflare } from "../services/uploadCloudflare"
    import { ToastStore } from "../stores/ToastStore"
    import { UploadStore } from "../stores/UploadStore"
    import { BatchUploadStore } from "../stores/BatchUploadStore"

    onDestroy(() => {
        logI("onDestroy BatchUploadModal")
    })

    onMount(() => {
        logI("ENTER onMount BatchUploadModal")
    })

    export let open = false
    export let uploadMode = "update"
    export let uploadInfoL = undefined
    export let command = undefined

    $: reactOnUploadInfo(uploadInfoL)
    function reactOnUploadInfo() {
        if (uploadInfoL == "completed") open = false
    }

    function toggle() {
        open = !open
    }
    function handleOpening() {
        logI("BatchUploadModal opening")
        uploadFiles = undefined
    }

    $: uploadFiles = undefined
    $: reactOnUploadFiles(uploadFiles)

    function reactOnUploadFiles() {
        if (uploadFiles && uploadFiles.length > 0) {
            logI("reactOnUploadFiles ")
            let fileUploads
            let project = AppDataStore.getEditProject()
            let cloudflareUploads = getCloudflareUploads(uploadFiles, $AppDataStore.editProject.customer, project.id)
            if (cloudflareUploads.length > 0) {
                for (const upload of cloudflareUploads) {
                    let uploadId = UploadStore.addUpload(upload.file.name, {
                        field: "clip",
                        customerId: upload.customerId,
                        projectId: upload.projectId,
                        sceneId: upload.file.name, // für UploadStore.getUploadByDest!
                    })
                    uploadCloudflare(uploadId, upload.file)
                }
            }

            let googleUploads = getGoogleStorageUploads(uploadFiles, project.id)
            if (googleUploads.length > 0) {
                if (uploadMode == "import") {
                    fileUploads = googleUploads
                    BatchUploadStore.addUpload(project.id, fileUploads)
                } else {
                    let referencedGoogleUploads = getReferencedFileUploads(googleUploads, project)
                    if (referencedGoogleUploads.length > 0) {
                        fileUploads = referencedGoogleUploads
                        BatchUploadStore.addUpload(project.id, fileUploads)
                    }
                }
            }
            if (cloudflareUploads.length == 0 && googleUploads.length == 0) ToastStore.append("No valid files for upload!", 3, "danger", "center-top")
            else open = false
        }
    }

    function getReferencedFileUploads(uploads, project) {
        let result = []
        for (const upload of uploads) {
            if (isReferenced(upload.dir, upload.file.name, project)) result.push(upload)
            else logT(`${upload.dir} ${upload.file.name} not referenced`)
        }
        return result
    }

    function isReferenced(dir, filename, project) {
        for (const key in project) {
            if (key.startsWith("poster")) {
                let field = project[key]
                for (const language in field) {
                    if (field[language] == filename) return true
                }
            }
        }

        for (const scene of project.scenes) {
            for (const key in scene) {
                if (key.startsWith(dir)) {
                    let field = scene[key]
                    for (const language in field) {
                        if (field[language] == filename) return true
                    }
                }
            }
        }
        return false
    }

    function handlePause() {
        logT("handlePause ")
        command = "pause"
    }

    function handleResume() {
        logI("handleResume ")
        command = "resume"
    }
    function handleCancel() {
        logI("handleCancel ")
        command = "cancel"
    }
</script>

<Modal size="lg" isOpen={open} {toggle} on:opening={handleOpening}>
    <ModalHeader {toggle}>{uploadMode.toUpperCase()} Assets</ModalHeader>
    <ModalBody>
        {#if uploadInfoL}
            <h4>{uploadInfoL}</h4>
        {:else}
            <Input type="file" webkitdirectory directory multiple bind:files={uploadFiles} />
        {/if}
    </ModalBody>
    <ModalFooter>
        {#if uploadInfoL}
            <Button color="primary" on:click={handleCancel}>Cancel</Button>
            <div style="width: 1rem;" />
            {#if uploadInfoL.includes("RUNNING")}
                <Button color="primary" on:click={handlePause}>Pause</Button>
            {:else if uploadInfoL.includes("PAUSED")}
                <Button color="primary" on:click={handleResume}>Resume</Button>
            {/if}
        {/if}

        <Button color="secondary" on:click={toggle}>Close</Button>
    </ModalFooter>
</Modal>
