<script>
    import { logE, logW, logI, logT } from "../services/log"

    import { onMount, onDestroy } from "svelte"
    import { Button, Input, Modal, ModalBody, ModalFooter, ModalHeader, FormGroup, Label } from "sveltestrap"
    import { AppDataStore } from "../stores/AppDataStore"
    import { uploadCloudflare } from "../services/uploadCloudflare"
    import { ToastStore } from "../stores/ToastStore"
    import { UploadStore } from "../stores/UploadStore"
    import { BusyStore } from "../stores/BusyStore"

    onDestroy(() => {
        logI("onDestroy BusyModal")
    })

    onMount(() => {
        logI("ENTER onMount DirectoryUploadModal")
    })

    export let open = false

  
    function toggle() {
        open = !open
    }
    function handleOpening() {
        logI("BatchUploadModal opening")
    }

  

</script>

<Modal isOpen={open} {toggle} on:opening={handleOpening}>
    <ModalHeader {toggle}>Assets</ModalHeader>
    <ModalBody>
        <FormGroup>
            <Label>Customer</Label>
            <Input type="text" value={$BusyStore.customer} readonly />
        </FormGroup>
        <FormGroup>
            <Label>Project</Label>
            <Input type="text" value={$BusyStore.project} readonly />
        </FormGroup>
        <FormGroup>
            <Label>Asset</Label>
            <Input type="text" value={$BusyStore.asset} readonly />
        </FormGroup>
    </ModalBody>
    <ModalFooter>
        <Button color="primary" on:click={() => BusyStore.setCommand("cancel")}>Cancel</Button>
    </ModalFooter>
</Modal>
