<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Button, FormGroup, Input, Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap"
    import { createEventDispatcher } from "svelte"
    const dispatch = createEventDispatcher()

    onDestroy(() => {
        logI("onDestroy CheckModal")
    })

    onMount(() => {
        logI("onMount CheckModal")
    })

    export let open = false
    export let modalSize = "sm"
    export let modalOptions
    export let modalSelectedOptions = []
    export let modalTitle

    function toggle() {
        open = !open
    }

    function handleSet(e) {
        let selectedOption = e.currentTarget.value
        dispatch("selectionCommitted", selectedOption)
        toggle()
    }

    function handleCheckChange(e) {
        logI("handleCheckChange " + e)
        let changedOption = e.target.id
        let checked = e.target.checked
        if (checked) modalSelectedOptions.push(changedOption)
        else modalSelectedOptions = modalSelectedOptions.filter((o) => o != changedOption)
    }
</script>

<Modal isOpen={open} {toggle} size={modalSize}>
    {#if modalTitle}
        <ModalHeader {toggle}>{modalTitle}</ModalHeader>
    {/if}
    <ModalBody>
        <FormGroup>
            {#each modalOptions as option}
                <Input type="checkbox" value={option} label={option} id={option} checked={modalSelectedOptions.includes(option)} on:change={handleCheckChange} />
            {/each}
        </FormGroup>
    </ModalBody>
    <ModalFooter>
        <Button color="primary" on:click={handleSet}>Set</Button>
        <Button color="secondary" on:click={toggle}>Cancel</Button>
    </ModalFooter>
</Modal>
