<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Label, Button, FormGroup, Input, Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap"
    import { createEventDispatcher } from "svelte"
    const dispatch = createEventDispatcher()

    onDestroy(() => {
        logI("onDestroy ConfirmDeleteModal")
    })

    onMount(() => {
        logI("onMount ConfirmDeleteModal")
    })

    export let open = false
    export let modalSize
    export let modalValue
    export let modalField
    export let forceUpperCase = false

    $: placeholderMet = false
    $: labelText = `Please enter ${modalField} to confirm it's deletion`

    function toggle() {
        open = !open
    }

    let input
    function handleOpen() {
        input = document.getElementById("text-modal-input")
        input.focus()
    }

    function handleSet() {
        dispatch("commitDelete", input.value)
        open = !open
    }

    function handleKeyPress(e) {
        if (forceUpperCase) input.value = input.value.toUpperCase()
        placeholderMet = input && input.value == input.placeholder
        if (e.key === "Enter" && placeholderMet) handleSet()
    }
</script>

<Modal isOpen={open} {toggle} bind:size={modalSize} on:open={handleOpen}>
    <ModalHeader {toggle}>Confirm deletion</ModalHeader>
    <ModalBody>
        <FormGroup>
            <Label>{labelText}</Label>
            <Input id="text-modal-input" type="text" placeholder={modalValue} on:keyup={handleKeyPress} />
        </FormGroup>
    </ModalBody>
    <ModalFooter>
        {#if placeholderMet}
            <Button color="primary" on:click={handleSet}>Delete</Button>
        {/if}
        <Button color="secondary" on:click={toggle}>Cancel</Button>
    </ModalFooter>
</Modal>
