<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Button, FormGroup, Label, Input, Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap"
    import { createEventDispatcher } from "svelte"
    const dispatch = createEventDispatcher()

    onDestroy(() => {
        logI("onDestroy CrossLinkPropsModal")
    })

    export let crossLinkProps = {}
    onMount(() => {
        logI("onMount CrossLinkPropsModal")
    })

    export let open = false
    export let size

    function toggle() {
        open = !open
    }
    function handleSet() {
        dispatch("editCrossLinkPropsCommit")
        open = !open
    }
</script>

<Modal isOpen={open} {toggle} {size}>
    <ModalHeader {toggle}>crossLinkProps</ModalHeader>
    <ModalBody>
        <FormGroup>
            <Label>identifier</Label>
            <Input type="select" bind:value={crossLinkProps.identifier}>
                <option>colorChange</option>
                <option>question</option>
            </Input>
        </FormGroup>

        <FormGroup>
            <Label>Label</Label>
            <Input type="text" bind:value={crossLinkProps.label} />
        </FormGroup>
        <FormGroup>
            <Label>backgroundColor</Label>
            <Input type="text" bind:value={crossLinkProps.backgroundColor} />
        </FormGroup>
    </ModalBody>
    <ModalFooter>
        <Button color="primary" on:click={handleSet}>Set</Button>
        <Button color="secondary" on:click={toggle}>Cancel</Button>
    </ModalFooter>
</Modal>

<style>
</style>
