<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Button, Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap"
    import { AppDataStore } from "../stores/AppDataStore"
    import CustomerForm from "../forms/CustomerForm.svelte"

    onDestroy(() => {
        logI("onDestroy CustomerModal")
    })

    onMount(() => {
        logI("ENTER onMount CustomerModal")
    })

    export let open = false

    function toggle() {
        open = !open
    }
    $: customer = $AppDataStore.currentCustomer
</script>

<Modal isOpen={open} {toggle}>
    <ModalHeader {toggle}>{customer.customerName}</ModalHeader>
    <ModalBody>
        <CustomerForm {customer} />
    </ModalBody>
    <ModalFooter>
        <Button color="secondary" on:click={toggle}>Close</Button>
    </ModalFooter>
</Modal>
