<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Button, FormGroup, Modal, ModalBody, ModalFooter, ModalHeader, Dropdown, DropdownToggle, DropdownMenu, DropdownItem } from "sveltestrap"

    import { createEventDispatcher } from "svelte"

    import { getGoogleStorageAssetInfos } from "../services/uploadGoogleStorage"

    const dispatch = createEventDispatcher()

    onDestroy(() => {
        logI("onDestroy ImageModal")
    })

    onMount(() => {
        logI("onMount ImageModal")
    })

    export let open = false
    export let modalBaseDir = "projects"
    export let modalSubDir = ""
    export let modalTypeDir = "still"

    export let modalValidExtensions = []

    function toggle() {
        open = !open
    }

    let modalAssets = []
    async function handleOpen() {
        modalAssets = await getValidAssets()
        if (modalValue) {
            let selected = modalAssets.find((o) => o.name == modalValue)
            if (selected) {
                img.src = getUrl(selected)
            }
        }
    }

    async function getValidAssets() {
        let assets = await getGoogleStorageAssetInfos(modalBaseDir, modalSubDir, modalTypeDir)
        if (modalValidExtensions.length > 0) {
            let validAssets = []
            for (const asset of assets) {
                let parts = asset.name.split(".")
                if (modalValidExtensions.includes(parts[parts.length - 1])) validAssets.push(asset)
            }
            return validAssets
        } else return assets
    }

    function handleSet() {
        let clip = modalAssets.find((o) => o.name == modalValue)
        if (clip) {
            dispatch("commit", clip)
            modalValue = undefined
            open = !open
        }
    }

    export let modalValue

    function clipSelected(e) {
        console.log(e)
        let selected = modalAssets.find((o) => o.name == e)
        if (selected) {
            modalValue = selected.name
            img.src = getUrl(selected)
            //audio.play()
        }
    }

    function getUrl(clip) {
        if (modalTypeDir)
            return `https://firebasestorage.googleapis.com/v0/b/lumetour-dev-assets/o/${modalBaseDir}%2F${modalSubDir}%2F${modalTypeDir}%2F${clip.name}?alt=media`
        return `https://firebasestorage.googleapis.com/v0/b/lumetour-dev-assets/o/${modalBaseDir}%2F${modalSubDir}%2F${clip.name}?alt=media`
    }
    let img
</script>

<Modal isOpen={open} {toggle} size="lg" on:open={handleOpen}>
    <ModalHeader {toggle}>still</ModalHeader>

    <ModalBody>
        <FormGroup>
            <Dropdown>
                <DropdownToggle caret>{modalValue}</DropdownToggle>
                <DropdownMenu end>
                    {#each modalAssets as modalAsset}
                        <DropdownItem on:click={clipSelected(modalAsset.name)} active={modalAsset.name == modalValue}>{modalAsset.name}</DropdownItem>
                    {/each}
                </DropdownMenu>
            </Dropdown>
        </FormGroup>
        {#if modalValue}
            <div>
                <img class="still" bind:this={img} alt="still" />
            </div>
        {/if}
    </ModalBody>
    <ModalFooter>
        <Button color="primary" on:click={handleSet}>Set</Button>
        <Button color="secondary" on:click={toggle}>Cancel</Button>
    </ModalFooter>
</Modal>

<style>
    .still {
        max-height: 500px;
        max-width: 764px;
    }
</style>
