<script>
    import { logE, logW, logI, logT } from "../services/log";
    import { onMount, onDestroy } from "svelte";
    import {
        Button,
        Input,
        Modal,
        ModalBody,
        ModalFooter,
        ModalHeader,
        FormGroup,
    } from "sveltestrap";
    import { setCustomerDoc } from "../services/firestore";

    onDestroy(() => {
        logI("onDestroy ImportCustomersModal");
    });

    onMount(() => {
        logI("ENTER onMount ImportCustomersModal");
    });

    export let modalOpen = false;

    function toggle() {
        modalOpen = !modalOpen;
    }
    $: importSource = undefined;
    $: importFiles = undefined;

    function handleOpening() {
        logI("ImportCustomersModal opening");
    }

    async function handleImportStart() {
        logI("handleImportStart");
        let file = importFiles[0];
        var reader = new FileReader();
        reader.onload = async function () {
            let jsonText = this.result;
            let customers = JSON.parse(jsonText);
            for (const customerId in customers) {
                await setCustomerDoc(customerId, customers[customerId]);
            }
        };
        reader.readAsText(file);
    }
</script>

<Modal isOpen={modalOpen} {toggle} on:opening={handleOpening}>
    <ModalHeader {toggle}>Import Customers</ModalHeader>
    <ModalBody>
        <FormGroup>
            <Input
                type="file"
                accept="customers.json"
                bind:value={importSource}
                bind:files={importFiles}
            />
        </FormGroup>
    </ModalBody>
    <ModalFooter>
        {#if importFiles}
            <Button color="primary" on:click={handleImportStart}>Import</Button>
        {/if}
        <Button color="secondary" on:click={toggle}>Close</Button>
    </ModalFooter>
</Modal>
