<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Button, Input, Modal, ModalBody, ModalFooter, ModalHeader, FormGroup, Label } from "sveltestrap"
    import { AppDataStore, allCustomers } from "../stores/AppDataStore"
    import { ToastStore } from "../stores/ToastStore"
    import { AuthStore } from "../stores/AuthStore"

    onDestroy(() => {
        logI("onDestroy ImportProjectModal")
    })

    onMount(() => {
        logI("ENTER onMount ImportProjectModal")
    })

    export let open = false
    export let update = false

    function toggle() {
        open = !open
    }
    $: importSource = undefined
    $: importFiles = undefined

    function handleOpening() {
        logI("ImportProjectModal opening")
        importedProjectName = ""
        importSource = undefined
        importFiles = undefined
    }

    function handleImportStart() {
        logI("handleImportStart")
        let file = importFiles[0]
        var reader = new FileReader()
        reader.onload = async function (progressEvent) {
            let jsonText = this.result
            try {
                let projectObj = JSON.parse(jsonText)
                if (projectObj) {
                    if (update) {
                        if (projectObj.id == $AppDataStore.editProject.id) AppDataStore.setProject(projectObj)
                        else ToastStore.append(`Sorry, but this is an export of a different project ${projectObj.id} `, 4, "danger", "center-top")
                    } else {

                        let userData = AuthStore.getUserData()
                        projectObj.customer = $AppDataStore.currentCustomer.customerId
                        projectObj.name = importedProjectName
                        projectObj.importedBy = userData.email
                        projectObj.importedAt = new Date().toString()
                        AppDataStore.addProject(projectObj)
                    }
                    toggle()
                } else ToastStore.append(`Sorry, but this is not an export of a project`, 4, "danger", "center-top")
            } catch (error) {
                ToastStore.append(`Sorry: ${error.message}`, 4, "danger", "center-top")
            }
        }
        reader.readAsText(file)
    }

    let importedProjectName = ""
    $: valid = isValid(importedProjectName, importFiles)
    function isValid() {
        logI("isValid")
        if (update) {
            // any file here, content will be checked at handleImportStart
            if (!(importFiles && importFiles.length == 1)) return false
        } else {
            // import as new project
            // 1. name
            if (!importedProjectName) return false
            // 2. file, any name
            if (importFiles && importFiles.length == 1) {
                // but importedProjectName unique for customer
                let pname = $AppDataStore.projects.find((o) => o.name == importedProjectName)
                if (pname) return false
            } else return false
        }

        return true
    }
</script>

<Modal isOpen={open} {toggle} on:opening={handleOpening}>
    <ModalHeader {toggle}>Import Project</ModalHeader>
    <ModalBody>
        {#if !update}
            <FormGroup>
                <Label for="importedProjectName">Name</Label>
                <Input bind:value={importedProjectName} type="text" id="importedProjectName" placeholder="Imported project name - unique!" />
            </FormGroup>
        {/if}
        <FormGroup>
            <Input type="file" accept=".json" bind:value={importSource} bind:files={importFiles} />
        </FormGroup>
    </ModalBody>
    <ModalFooter>
        {#if valid}
            <Button color="primary" on:click={handleImportStart}>Import</Button>
        {/if}
        <Button color="secondary" on:click={toggle}>Close</Button>
    </ModalFooter>
</Modal>
