<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Modal, ModalBody, ModalHeader, ModalFooter, Button } from "sveltestrap"

    import { diffJson } from "diff"

    onDestroy(() => {
        logI("onDestroy JsonComparerModal")
    })

    onMount(() => {
        logI("ENTER onMount JsonComparerModal")
    })

    let diffs
    let diffCount
    let diffIndex
    function handleOpening() {
        diffs = []
        diffCount = 0
        diffIndex = -1
        const div = document.getElementById("div-container")
        div.innerHTML = undefined
        div.style.height = `${window.innerHeight - 250}px`
        const fragment = document.createDocumentFragment()
        const diff = diffJson(json1, json2)
        for (let i = 0; i < diff.length; i++) {
            const part = diff[i]
            const color = part.added ? "green" : part.removed ? "red" : "black"
            let span = document.createElement("span")
            span.setAttribute("id", "diffspan" + i)
            if (part.added || part.removed) diffs.push("diffspan" + i)
            span.style.color = color
            span.appendChild(document.createTextNode(part.value))
            fragment.appendChild(span)
        }
        diffCount = diffs.length
        // und gleich zur ersten DIFF scrollen
        div.appendChild(fragment)
        setTimeout(() => {
            handleNext()
        }, 10)
    }

    export let open = false
    export let json1, json2

    function toggle() {
        open = !open
    }

    function handleNext() {
        if (diffIndex < diffCount - 1) diffIndex++
        handleSpan(document.getElementById(diffs[diffIndex]))
    }

    function handlePrev() {
        if (diffIndex > 0) diffIndex--
        handleSpan(document.getElementById(diffs[diffIndex]))
    }

    function handleSpan(span) {
        diffs.forEach((diff) => {
            document.getElementById(diff).style.background = ""
        })
        if (span) {
            span.scrollIntoView({ block: "end", behavior: "smooth" })
            span.style.background = "#aaa"
        }
    }
</script>

<Modal isOpen={open} {toggle} size="xl" on:open={handleOpening} height="500">
    <ModalHeader {toggle}>Comparison</ModalHeader>
    <ModalBody>
        <div id="div-container" class="div-container" />
    </ModalBody>
    <ModalFooter class="justify-content-space-between">
        <Button color="primary" disabled={diffIndex < 1} on:click={handlePrev}>PrevDiff</Button>
        <Button color="primary" disabled={diffIndex >= diffCount - 1} on:click={handleNext}>NextDiff</Button>
    </ModalFooter>
</Modal>

<style>
    .div-container {
        overflow: scroll;
    }
</style>
