<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Button, FormGroup, Input, Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap"
    import { ToastStore } from "../stores/ToastStore"
    import { createEventDispatcher } from "svelte"

    const dispatch = createEventDispatcher()

    onDestroy(() => {
        logI("onDestroy NameModal")
    })

    onMount(() => {
        logI("onMount NameModal")
    })

    export let open = false
    export let modalSize = "sm"
    export let modalValue = ""
    export let modalField = ""
    export let forceUpperCase = false
    export let maxLength = 0
    export let minLength = 0
    export let modalSubtext = ""
    export let modalInvalids = []
    

    function toggle() {
        open = !open
    }

    let input
    function handleOpen() {
        input = document.getElementById("text-modal-input")
        input.focus()
        input.select()
    }

    function handleSet() {
        if (minLength > 0 && input.value.length < minLength) return
        if(modalInvalids.includes(input.value)){
            ToastStore.append(`Sorry, but ${modalField} '${input.value}' is not valid!`, 3, "danger", "center-top")
            return
        }
        dispatch("textCommit", input.value)
        open = !open
    }

    function handleKeyPress(e) {
        if (forceUpperCase) input.value = input.value.toUpperCase()
        if (maxLength && input.value.length > maxLength) input.value = input.value.substring(0, 2)
        if (e.key === "Enter") handleSet()
    }
</script>

<Modal isOpen={open} {toggle} bind:size={modalSize} on:open={handleOpen}>
    {#if modalField}
        <ModalHeader {toggle}>{modalField}</ModalHeader>
    {/if}
    <ModalBody>
        {#if modalSubtext}
            <p>{modalSubtext}</p>
        {/if}
        <FormGroup>
            <Input id="text-modal-input" type="text" value={modalValue} on:keyup={handleKeyPress} />
        </FormGroup>
    </ModalBody>
    <ModalFooter>
        <Button color="primary" on:click={handleSet}>Set</Button>
        <Button color="secondary" on:click={toggle}>Cancel</Button>
    </ModalFooter>
</Modal>
