<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Button, FormGroup, Input, Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap"
    import { createEventDispatcher } from "svelte"

    const dispatch = createEventDispatcher()

    onDestroy(() => {
        logI("onDestroy NumberModal")
    })

    onMount(() => {
        logI("onMount NumberModal")
    })

    export let open = false
    export let modalSize
    export let modalValue
    export let modalField
    export let modalMax
    export let modalMin
    export let modalStep

    function toggle() {
        open = !open
    }

    let input
    function handleOpen() {
        input = document.getElementById("text-modal-input")
        input.focus()
        input.select()
    }

    function handleSet() {
        dispatch("numberCommit", input.valueAsNumber)
        modalValue=
        open = !open
    }

    function handleKeyPress(e) {
        logI(e.key)
        if (e.key === "Enter") handleSet()
        else if (e.key === "ArrowRight" && modalValue < modalMax) modalValue += modalStep
        else if (e.key === "ArrowLeft" && modalValue > modalMin) modalValue -= modalStep
    }
</script>

<Modal isOpen={open} {toggle} bind:size={modalSize} on:open={handleOpen}>
    {#if modalField}
        <ModalHeader {toggle}>{modalField}</ModalHeader>
    {/if}
    <ModalBody>
        <FormGroup>
            <Input id="text-modal-input" type="number" min={modalMin} max={modalMax} step={modalStep} bind:value={modalValue} on:keyup={handleKeyPress} />
        </FormGroup>
    </ModalBody>
    <ModalFooter>
        <Button color="primary" on:click={handleSet}>Set</Button>
        <Button color="secondary" on:click={toggle}>Cancel</Button>
    </ModalFooter>
</Modal>
