<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { FormGroup, Input, Modal, ModalBody, ModalHeader } from "sveltestrap"
    import { createEventDispatcher } from "svelte"
    const dispatch = createEventDispatcher()

    onDestroy(() => {
        logI("onDestroy RadioModal")
    })

    onMount(() => {
        logI("onMount RadioModal")
    })

    export let open = false
    export let size = "sm"
    export let options = []
    export let selectedOption = ""
    export let modalTitle = ""

    function toggle() {
        open = !open
    }

    $: radioGroup = selectedOption

    function onChange(e) {
        selectedOption = e.currentTarget.value
        dispatch("optionSelected", selectedOption)
        toggle()
    }
</script>

<Modal isOpen={open} {toggle} {size}>
    {#if modalTitle}
        <ModalHeader {toggle}>{modalTitle}</ModalHeader>
    {/if}
    <ModalBody>
        <FormGroup>
            {#each options as option}
                <Input type="radio" bind:group={radioGroup} value={option} label={option} id={option} on:change={onChange} />
            {/each}
        </FormGroup>
    </ModalBody>
    <!--  <ModalFooter>
        <Button color="primary" on:click={handleSet}>Set</Button>
        <Button color="secondary" on:click={toggle}>Cancel</Button>
    </ModalFooter> -->
</Modal>
