<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Button, Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap"
    import { createEventDispatcher } from "svelte"
    const dispatch = createEventDispatcher()

    onDestroy(() => {
        logI("onDestroy RichTextModal")
    })

    onMount(() => {
        logI("ENTER onMount RichTextModal")
    })

    export let open = false
    export let modalObjects
    export let modalField

    function toggle() {
        open = !open
    }

    function renderRte() {
        for (let i = 0; i < modalObjects.length; i++) {
            const modalObject = modalObjects[i]
            modalObject.sfRte = new ej.richtexteditor.RichTextEditor({
                value: modalObject.text,
            })
            modalObject.sfRte.appendTo(modalObject.divRte)
        }
    }

    function handleSet() {
        // RTEs auswerten
        for (const modalObject of modalObjects) modalObject.text = modalObject.sfRte.value
        dispatch("textCommit", modalObjects)
        open = !open
    }
</script>

<Modal isOpen={open} {toggle} fullscreen on:opening={renderRte}>
    {#if modalField}
        <ModalHeader {toggle}>{modalField}</ModalHeader>
    {/if}
    <ModalBody>
        {#each modalObjects as modalObject}
            <h5>{modalObject.id}</h5>
            <div bind:this={modalObject.divRte} />
        {/each}
    </ModalBody>
    <ModalFooter>
        <Button color="primary" on:click={handleSet}>Set</Button>
        <Button color="secondary" on:click={toggle}>Cancel</Button>
    </ModalFooter>
</Modal>
