<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Button, FormGroup, Input, Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap"
    import { createEventDispatcher } from "svelte"

    const dispatch = createEventDispatcher()

    onDestroy(() => {
        logI("onDestroy TextModal")
    })

    onMount(() => {
        logI("onMount TextModal")
    })

    export let open = false
    export let modalSize
    export let modalObjects
    export let modalField

    function toggle() {
        open = !open
    }

    let input
    function handleOpen() {
        input = document.getElementById("text-modal-input")
        if (input) {
            input.focus()
            input.select()
        }
    }

    function handleSet() {
        dispatch("textCommit", modalObjects)
        modalObjects = ""
        open = !open
    }

    function handleKeyPress(e) {
        if (e.key === "Enter") handleSet()
    }
</script>

<Modal isOpen={open} {toggle} bind:size={modalSize} on:open={handleOpen}>
    {#if modalField}
        <ModalHeader {toggle}>{modalField}</ModalHeader>
    {/if}
    <ModalBody>
        <FormGroup>
            {#each modalObjects as modalObject (modalObject.id)}
                <h5>{modalObject.id}</h5>
                {#if modalObject.edit}
                    <Input id="text-modal-input" type="text" bind:value={modalObject.text} on:keyup={handleKeyPress} />
                {:else}
                    <Input type="text" bind:value={modalObject.text} on:keyup={handleKeyPress} />
                {/if}
            {/each}
        </FormGroup>
    </ModalBody>
    <ModalFooter>
        <Button color="primary" on:click={handleSet}>Set</Button>
        <Button color="secondary" on:click={toggle}>Cancel</Button>
    </ModalFooter>
</Modal>
