<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { uploadCloudflare, pauseCloudflareUpload, cancelCloudflareUpload } from "../services/uploadCloudflare"
    import {
        uploadGoogleStorage,
        pauseGoogleStorageUpload,
        resumeGoogleStorageUpload,
        cancelGoogleStorageUpload,
        uploadGoogleStorageCustomerAssets,
    } from "../services/uploadGoogleStorage"
    import { onMount, onDestroy } from "svelte"
    import { Button, Input, Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap"
    import { createEventDispatcher } from "svelte"
    import { UploadStore } from "../stores/UploadStore"
    import { ToastStore } from "../stores/ToastStore"

    const dispatch = createEventDispatcher()

    onDestroy(() => {
        logI("onDestroy UploadModal")
    })

    onMount(() => {
        logI("ENTER onMount UploadModal")
    })

    export let open = false
    export let modalUploadDest
    export let modalValidExtensions = []

    function toggle() {
        open = !open
    }

    let uploadSource = undefined
    let uploadFiles = undefined
    export let uploadId = undefined
    export let uploadInfo = undefined
    //$:logT(`${uploadId} ${uploadInfo}`)

    $: reactOnUploadFiles(uploadFiles)
    function reactOnUploadFiles() {
        if (uploadFiles && modalUploadDest) {
            if (uploadFileValid(modalUploadDest.field)) handleUploadStart()
            else uploadSource = undefined
        }
    }

    function getFileTypes() {
        let result = ""
        for (const ext of modalValidExtensions) {
            if (result.length == 0) result += `.${ext}`
            else result += `,.${ext}`
        }
        return result
    }

    function handleOpening() {
        logI("UploadModal opening")
        uploadFiles = undefined
    }

    function handleUploadStart() {
        logI("handleUploadStart " + uploadSource)
        uploadId = UploadStore.addUpload(uploadSource, modalUploadDest)
        dispatch("uploadstart", uploadId)
        if (modalUploadDest.customerField) {
            uploadGoogleStorageCustomerAssets(uploadId, uploadFiles[0], modalUploadDest.customerId)
        } else {
            if (modalUploadDest.field.startsWith("clip")) uploadCloudflare(uploadId, uploadFiles[0])
            else uploadGoogleStorage(uploadId, uploadFiles[0])
            // und schliessen
        }
        open = false
    }

    function uploadFileValid(field) {
        field = field.toLowerCase()
        let error = ""
        if (uploadFiles && uploadFiles.length > 0) {
            if (uploadFiles.length == 1) {
                let filename = uploadFiles[0].name
                let parts = filename.split(".")
                let extension = parts[parts.length - 1].toLowerCase()
                if (!modalValidExtensions.includes(extension)) error = `${filename} is not valid for upload`
            } else error = "only single uploads"
        } else error = "no upload file"

        if (error) {
            ToastStore.append(`SORRY, but ${error}!`, 3, "danger", "center-top")
            return false
        }
        return true
    }

    function handlePause() {
        logI("handlePause")
        let upload = UploadStore.getUpload(uploadId)
        if (upload) {
            if (upload.dest.field.startsWith("clip")) pauseCloudflareUpload(uploadId)
            else pauseGoogleStorageUpload(uploadId)
        }
    }

    function handleResume() {
        logI("handleResume")
        let upload = UploadStore.getUpload(uploadId)
        if (upload) {
            if (upload.dest.field.startsWith("clip")) {
                if (uploadFiles?.length > 0) uploadCloudflare(uploadId, uploadFiles[0])
                else uploadCloudflare(uploadId)
            } else resumeGoogleStorageUpload(uploadId)
        }
    }
    function handleCancel() {
        logI("handleCancel")
        let upload = UploadStore.getUpload(uploadId)
        if (upload) {
            if (upload.dest.field.startsWith("clip")) cancelCloudflareUpload(uploadId)
            else cancelGoogleStorageUpload(uploadId)
        }
    }
</script>

<Modal isOpen={open} {toggle} on:opening={handleOpening}>
    <ModalHeader {toggle}>{modalUploadDest.title}</ModalHeader>
    <ModalBody>
        {#if uploadInfo}
            <h3>{uploadInfo}</h3>
        {:else}
            <Input type="file" accept={getFileTypes(modalUploadDest.field)} bind:value={uploadSource} bind:files={uploadFiles} />
        {/if}
    </ModalBody>
    <ModalFooter>
        {#if uploadInfo}
            <Button color="primary" on:click={handleCancel}>Cancel</Button>
            <div style="width: 1rem;" />
            {#if uploadInfo.endsWith("%")}
                <Button color="primary" on:click={handlePause}>Pause</Button>
            {:else}
                <Button color="primary" on:click={handleResume}>Resume</Button>
            {/if}
        {/if}

        <Button color="secondary" on:click={toggle}>Close</Button>
    </ModalFooter>
</Modal>
