<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import {
        Button,
        FormGroup,
        Input,
        Modal,
        ModalBody,
        ModalFooter,
        ModalHeader,
        Label,
        Dropdown,
        DropdownToggle,
        DropdownMenu,
        DropdownItem,
    } from "sveltestrap"
    import { CloudflareStore } from "../stores/CloudflareStore"
    import { createEventDispatcher } from "svelte"

    import HlsVideo from "../components/HlsVideo.svelte"
    import { getUrl } from "../services/uploadCloudflare"
    import { AppDataStore } from "../stores/AppDataStore"

    const dispatch = createEventDispatcher()

    onDestroy(() => {
        logI("onDestroy VideoModal")
    })

    onMount(() => {
        logI("onMount VideoModal")
    })

    export let open = false
    export let modalField = ""

    function toggle() {
        open = !open
    }

    let modalClips = []
    async function handleOpen() {
        let project = AppDataStore.getEditProject()
        modalClips = CloudflareStore.getClipInfos(project.customer)
        if (modalValue && hlsVideo) {
            if (modalValue.toLowerCase().startsWith("https")) hlsVideo.playClip(modalValue)
            else {
                let selected = modalClips.find((o) => o.stream_name == modalValue)
                if (selected) hlsVideo.playClip(getUrl(selected.stream_uid))
            }
        }
    }

    function handleSet() {
        let clip = modalClips.find((o) => o.stream_name == modalValue)
        if (clip) {
            dispatch("commit", clip)
            modalValue = undefined
            open = !open
        }
    }

    export let modalValue

    function clipSelected(e) {
        console.log(e)
        let selected = modalClips.find((o) => o.stream_uid == e)
        if (selected) {
            modalValue = selected.stream_name
            hlsVideo.playClip(getUrl(selected.stream_uid))
        }
    }

    let hlsVideo
</script>

<Modal isOpen={open} {toggle} size='lg' on:open={handleOpen}>
    {#if modalField}
        <ModalHeader {toggle}>{modalField}</ModalHeader>
    {/if}
    <ModalBody>
        <!--   {#if modalSubtext}
            <p>{modalSubtext}</p>
        {/if} -->
        <FormGroup>
            <Dropdown>
                <DropdownToggle caret>{modalValue}</DropdownToggle>
                <DropdownMenu end>
                    {#each modalClips as modalClip}
                        <DropdownItem on:click={clipSelected(modalClip.stream_uid)} active={modalClip.stream_name == modalValue}
                            >{modalClip.stream_name}</DropdownItem
                        >
                    {/each}
                </DropdownMenu>
            </Dropdown>
        </FormGroup>
        <div class="div-player">
            <HlsVideo bind:this={hlsVideo} />
        </div>
    </ModalBody>
    <ModalFooter>
        <Button color="primary" on:click={handleSet}>Set</Button>
        <Button color="secondary" on:click={toggle}>Cancel</Button>
    </ModalFooter>
</Modal>

<style>
    .div-player {
        position: relative;
        height: 440px;
        /*  border: solid 1px red; */
    }
</style>
