<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { AuthStore } from "../stores/AuthStore"
    import { getProjectsDict } from "../services/directorapi"
    import { Spinner } from "sveltestrap"
    import { getAllGoogleStorageAssetInfos } from "../services/uploadGoogleStorage"

    onDestroy(() => {
        logI("onDestroy AssetsGrid")
        cloudflareGrid?.destroy()
        cloudflareGrid = undefined
    })

    onMount(async () => {
        logI("onMount AssetsGrid")
        initialize()
    })

    let busy = false
    async function initialize() {
        busy = true
        let userData = AuthStore.getUserData()
        let projectsdict = await getProjectsDict(userData.uid)

        let assets = await getAllGoogleStorageAssetInfos()
        let gridData = []

        for (const asset of assets) {
            let parts = asset.url.split("/")

            let projectName = parts[1]
            let project = projectsdict.find((o) => o.id == parts[1])
            if (project) projectName = project.name

            gridData.push({ project: projectName, type: parts[2], file: parts[3] })
        }
        createGrid(gridData)
        busy = false
    }

    let cloudflareGrid
    const createGrid = (gridData) => {
        // und das Grid erzeugen
        cloudflareGrid = new ej.grids.Grid({
            height: window.innerHeight - 300,
            allowCsvExport: true,
            allowExcelExport: true,
            allowPdfExport: true,
            allowTextWrap: true,
            allowFiltering: true,
            allowGrouping: true,
            allowSorting: true,
            textWrapSettings: { wrapMode: "Header" },
            dataSource: gridData,
            selectionSettings: { mode: "Cell", type: "Single" },
            editSettings: { allowEditing: false },
            columns: [{ field: "project" }, { field: "type" }, { field: "file" }],
        })

        cloudflareGrid.appendTo("#div-labels-sfgrid")
    }
</script>

{#if busy}
    <div class="div-spinner">
        <Spinner color="secondary" />
    </div>
{/if}

{#await initialize}
    <!-- promise is pending -->
{:then}
    <div id="div-labels-sfgrid" />
{/await}

<style>
    .div-spinner {
        position: absolute;
        top: calc(50% - 0.5em);
        left: calc(50% - 0.5em);
    }
</style>
