<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { AppDataStore } from "../stores/AppDataStore"
    import { onMount, onDestroy } from "svelte"
    import RadioModal from "../modals/RadioModal.svelte"

    export let gridData=[]

    onDestroy(() => {
        logI("onDestroy IconsGrid")
        sfGrid?.destroy()
        sfGrid = undefined
    })

    onMount(() => {
        logI("onMount IconsGrid")
        createGrid(createGridData())
        stamp = new Date()
    })

    let stamp
    $: if ($AppDataStore.stamp > stamp) {
        refresh()
    }

    function refresh() {
        sfGrid.dataSource = createGridData()
        stamp = new Date()
    }

    function createGridData() {
        gridData = []
        let gridRow = { primarykey: "1" }
        if ($AppDataStore.editProject.version) {
            let icons = $AppDataStore.editProject.icons
            if (icons) {
                for (const icon in icons) gridRow[icon] = icons[icon]
            }
            gridData.push(gridRow)
        }
        return gridData
    }

    let sfGrid
    const createGrid = (gridData) => {
        // und das Grid erzeugen
        sfGrid = new ej.grids.Grid({
            height: window.innerHeight - 300,
            dataSource: gridData,
            selectionSettings: { mode: "Cell", type: "Single" },
            editSettings: { allowEditing: false },
            columns: [
                { field: "primarykey", isPrimaryKey: true, visible: false },
                { field: "skip-prev", defaultValue: "", type: "string" },
                { field: "backward", defaultValue: "", type: "string" },
                { field: "pause", defaultValue: "", type: "string" },
                { field: "forward", defaultValue: "", type: "string" },
                { field: "skip-next", defaultValue: "", type: "string" },
                { field: "autoplay", defaultValue: "", type: "string" },
                { field: "grid-dots", defaultValue: "", type: "string" },
                { field: "mute", defaultValue: "", type: "string" },
                { field: "settings", defaultValue: "", type: "string" },
                { field: "info", defaultValue: "", type: "string" },
                { field: "enter-fullscreen", defaultValue: "", type: "string" },
                { field: "exit-fullscreen", defaultValue: "", type: "string" },
            ],
            cellSelected: function (args) {
                logT(" cellSelected CI " + args.cellIndex.cellIndex)
                let field = sfGrid.columns[args.cellIndex.cellIndex].field
                showOptions(args.data, field, ["NO ICON", "shopping-bag", "4k", "hd", "plus", "minus"])
            },
        })
        sfGrid.appendTo("#div-icons-sfgrid")
    }

    function showOptions(rowData, field, options) {
        modalField = field
        modalOptions = options
        modalSelectedOption = rowData[field]
        modalOpen = true
        sfGrid.clearSelection()
    }

    function handleOptionSelected(e) {
        logI("handleOptionSelected")
        let option = e.detail
        if (option === "NO ICON") option = null
        AppDataStore.setIconValue(modalField, option)
        sfGrid.setCellValue("1", modalField, option)
    }

    let modalOpen = false
    let modalField
    let modalOptions=[]
    let modalSelectedOption=''
</script>

<div id="div-icons-sfgrid" />
<RadioModal modalTitle={modalField} size="sm" bind:options={modalOptions} bind:selectedOption={modalSelectedOption} bind:open={modalOpen} on:optionSelected={handleOptionSelected} />
