<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { ToastStore } from "../stores/ToastStore"
    import { AppDataStore } from "../stores/AppDataStore"
    import NameModal from "../modals/NameModal.svelte"

    onDestroy(() => {
        logI("onDestroy LabelsGrid")
        labelsGrid?.destroy()
        labelsGrid = undefined
    })

    onMount(() => {
        logI("onMount LabelsGrid")
        createGrid(createGridData())
        stamp = new Date()
    })

    let stamp
    $: if ($AppDataStore.stamp > stamp) {
        refresh()
    }

    function refresh() {
        labelsGrid.dataSource = createGridData()
        stamp = new Date()
    }

    function createGridData() {
        let gridData = []
        let languages = $AppDataStore.editProject.languages
        let labels = $AppDataStore.editProject.labels
        if (labels) {
            for (const language of languages) {
                let row = { name: language }
                let langProps = labels[language]
                for (const prop in langProps) row[prop] = langProps[prop]
                gridData.push(row)
            }
        }
        return gridData
    }

    let labelsGrid
    const createGrid = (gridData) => {
        stamp = new Date()
        // und das Grid erzeugen
        labelsGrid = new ej.grids.Grid({
            height: window.innerHeight - 300,
            allowCsvExport: true,
            allowExcelExport: true,
            allowPdfExport: true,
            allowTextWrap: true,
            textWrapSettings: { wrapMode: "Header" },
            dataSource: gridData,
            selectionSettings: { mode: "Cell", type: "Single" },
            editSettings: { allowEditing: false },
            columns: [
                { field: "name", isPrimaryKey: true, headerText: "language", disableHtmlEncode: false, defaultValue: "", type: "string", width: 120 },
                {
                    headerText: "Control button labels",
                    columns: [
                        { field: "previous", defaultValue: "", type: "string" },
                        { field: "backward", defaultValue: "", type: "string" },
                        { field: "pause", defaultValue: "", type: "string" },
                        { field: "forward", defaultValue: "", type: "string" },
                        { field: "next", defaultValue: "", type: "string" },
                        { field: "autoplay", defaultValue: "", type: "string" },
                        { field: "grid-dots", defaultValue: "", type: "string" },
                        { field: "mute", defaultValue: "", type: "string" },
                        { field: "settings", defaultValue: "", type: "string" },
                        { field: "info", defaultValue: "", type: "string" },
                        { field: "fullscreen", defaultValue: "", type: "string" },
                    ],
                },
            ],
            cellSelected: function (args) {
                logT(" cellSelected CI " + args.cellIndex.cellIndex)
                if (args.cellIndex.cellIndex > 0) {
                    let field = labelsGrid.columns[1].columns[args.cellIndex.cellIndex - 1].field
                    showText(args.data, field)
                }
            },
        })

        labelsGrid.appendTo("#div-labels-sfgrid")
    }

    function showText(rowData, field) {
        modalField = field
        modalRowData = rowData
        modalValue = rowData[field]
        modalStdOpen = true
        labelsGrid.clearSelection()
    }

    function handleTextCommit(e) {
        logI("handleTextCommit")
        AppDataStore.setLabel(modalRowData.name, modalField, e.detail)
        //labelsGrid.setCellValue(modalRowData.name, modalField, e.detail)
    }

    let modalStdOpen = false
    let modalField
    let modalRowData
    let modalValue
</script>

<div id="div-labels-sfgrid" />
<NameModal {modalField} {modalValue} bind:open={modalStdOpen} on:textCommit={handleTextCommit} />
