<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Button, Card, CardBody, CardHeader, CardFooter, CardTitle, Form, FormGroup, Label, Input } from "sveltestrap"
    import { AppDataStore } from "../stores/AppDataStore"
    import SelectOrUploadButton from "../components/SelectOrUploadButton.svelte"

    export let customer = { customerName: "?" }

    onDestroy(() => {
        logI("onDestroy CustomerForm")
    })
    onMount(() => {
        logI("onMount CustomerForm")
    })

    $: posterUrl = getUrl(customer, "customerPoster")
    $: brandingUrl = getUrl(customer, "customerBranding")
    function getUrl(customer, type) {
        if (customer && customer.customerId && customer[type]) {
            let url = `https://firebasestorage.googleapis.com/v0/b/lumetour-dev-assets/o/customers%2F${customer.customerId}%2F${customer[type]}?alt=media`
            return url
        }
    }

    let editName = customer?.customerName
    function handleSet() {
        AppDataStore.updateCustomer(customer.customerId, "customerName", editName)
    }

    function stripFileName(assetUrl) {
        if (assetUrl) {
            let parts = assetUrl.split("%2F")
            if (parts.length > 0) {
                let parts2 = parts[parts.length - 1].split("?")
                return parts2[0]
            }
        }
        return assetUrl
    }
</script>

<div>
    <FormGroup>
        <Label for="customerName">Name</Label>
        <div class="div-flex">
            <Input bind:value={editName} type="text" id="customerName" placeholder="customer name - unique!" />
            {#if editName != customer?.customerName}
                <Button on:click={handleSet}>SET</Button>
            {/if}
        </div>
    </FormGroup>

    <FormGroup>
        <Label>Poster [image]</Label>
        <div class="div-poster">
            {#if posterUrl}
                <div class="div-img">
                    <img class="poster" src={posterUrl} alt="poster" />
                </div>
            {/if}
        </div>

        <SelectOrUploadButton
            title="Poster"
            id="customerPoster"
            modalBaseDir="customers"
            modalSubDir={customer.customerId}
            modalTypeDir=""
            value={stripFileName(posterUrl)}
            modalValidExtensions={["jpg", "jpeg", "png", "webp", "gif"]}
        />
    </FormGroup>

    <FormGroup>
        <Label>Branding [svg]</Label>
        <div class="div-branding">
            {#if brandingUrl}
                <div class="div-svg">
                    <img class="branding" src={brandingUrl} alt="branding" />
                </div>
            {/if}
        </div>

        <SelectOrUploadButton
            title="customerBranding"
            id="customerBranding"
            modalBaseDir="customers"
            modalSubDir={customer.customerId}
            modalTypeDir=""
            value={stripFileName(brandingUrl)}
            modalValidExtensions={["svg"]}
        />
    </FormGroup>
</div>

<style>
    .div-poster {
        height: 140px;
    }
    .div-branding {
        height: 50px;
    }
    .poster {
        max-height: 140px;
        max-width: 200px;
    }
    .branding {
        max-height: 50px;
        max-width: 50px;
    }

    .div-flex {
        padding: 0em 0.1em;
        display: flex;
        gap: 0.1em;
    }

    :global(.customer-card) {
        height: 640px;
        width: 380px;
    }
</style>
