<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Button } from "sveltestrap"
 
    import { BatchUploadStore } from "../stores/BatchUploadStore"
    import GoogleStorageUploader from "../components/GoogleStorageUploader.svelte"
    import BatchUploadModal from "../modals/BatchUploadModal.svelte"

    export let batchUpload

    let fileUploadIndex = 0
    let fileUpload = undefined
    let command = undefined

    $: logT("BatchUploadButton command " + command)

    onDestroy(() => {
        logI("onDestroy BatchUploadButton")
    })
    onMount(() => {
        logI("onMount BatchUploadButton")
        if (batchUpload) nextUpload()
    })

    function nextUpload() {
        if (command != "cancel" && fileUploadIndex < batchUpload.files?.length) {
            fileUpload = batchUpload.files[fileUploadIndex]
            command = undefined
            fileUploadIndex++
        } else {
            BatchUploadStore.removeUpload(batchUpload.id)
            uploadInfoS = "completed"
            uploadInfoL = "completed"
        }
    }

    let modalUploadOpen = false
    function handleClick() {
        modalUploadOpen = true
    }

    let uploadInfoL = undefined
    let uploadInfoS = undefined
    function handleUploadEvent(e) {
        let fileUpload = e.detail
        uploadInfoS = `${fileUploadIndex}/${batchUpload.files.length} : ${fileUpload.infoS}`
        uploadInfoL = `${fileUploadIndex}/${batchUpload.files.length} : ${fileUpload.dir.toUpperCase()} ${fileUpload.file.name} ${fileUpload.infoL}`
        logI(`Upload ${uploadInfoL}`)
        if (fileUpload.state == "completed" || fileUpload.state == "error") nextUpload()
    }
</script>

<Button color="primary" class="text-nowrap" on:click={handleClick}>{batchUpload.id} {uploadInfoS}</Button>

<BatchUploadModal bind:open={modalUploadOpen} {uploadInfoL} bind:command />

<GoogleStorageUploader {fileUpload} {command} on:upload={handleUploadEvent} />
