<svelte:options accessors />

<script>
    import { Button, ButtonGroup } from "sveltestrap"

    export let options = ["1", "2", "3"]

    export let selectedOption = "1"

    function handleClick(clicked) {
        selectedOption = clicked
    }
</script>

<div class="div-selector">
    <ButtonGroup>
        {#each options as option}
            <Button class="no-focus" on:click={() => handleClick(option)} outline={selectedOption != option}>{option}</Button>
        {/each}
    </ButtonGroup>
</div>

<style>
    .div-selector {
        margin-top: 1px;
        margin-left: 1em;
    }
</style>
