<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Button, FormGroup, Input, Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap"
    import { createEventDispatcher } from "svelte"
    const dispatch = createEventDispatcher()
    import { AppDataStore } from "../stores/AppDataStore"

    onDestroy(() => {
        logI("onDestroy CheckStills")
    })

    onMount(() => {
        logI("onMount CheckStills")
    })

    function handleCheckChange(e) {
        logI("handleCheckChange " + e)
        let changedOption = e.target.id
        let checked = e.target.checked
        if (checked) selectedOptions.push(changedOption)
        else selectedOptions = selectedOptions.filter((o) => o != changedOption)
        AppDataStore.setProjectField(selectedOptions,'showStills')
    }

    let Options = ["withinSequence", "onGallerySelect", "onSceneJump", "onBranchEnter"]
    $: selectedOptions = getOptions($AppDataStore)

    function getOptions() {
        if (Array.isArray($AppDataStore.editProject.showStills)) return $AppDataStore.editProject.showStills
        return []
    }

</script>

<FormGroup>
    {#each Options as option}
        <Input type="checkbox" value={option} label={option} id={option} checked={selectedOptions.includes(option)} on:change={handleCheckChange} />
    {/each}
</FormGroup>
