<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { goto } from "$app/navigation"
    import { AuthStore } from "../stores/AuthStore"
    import { NavItem } from "sveltestrap"
    import ToastHost from "../components/ToastHost.svelte"
    import Navigation from "../components/Navigation.svelte"
    import PageTransitions from "../components/PageTransitions.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import IconButton from "../components/IconButton.svelte"
    import { Button, Card, CardBody, CardFooter, CardHeader, CardTitle, FormGroup, Label, Input, Modal, ModalBackdrop,ModalBody,ModalFooter,ModalHeader } from "sveltestrap"
    import { createEventDispatcher } from "svelte"
    const dispatch = createEventDispatcher()




    onDestroy(() => {
        logI("onDestroy ")
    })

    onMount(() => {
        logI("onMount ")
    })
</script>

<h1>component</h1>

<style>
    h1 {
        text-align: center;
        margin-top: 5em;
    }
</style>
