<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import IconButton from "../components/IconButton.svelte"
    import { FormGroup, Label, Input, Accordion, AccordionItem, Button, Dropdown, DropdownToggle, DropdownMenu, DropdownItem } from "sveltestrap"

    onDestroy(() => {
        logI("onDestroy ControlLabelsList")
    })

    onMount(() => {
        logI("onMount ControlLabelsList")
        /*  icons.sort()
        console.log(icons) */
    })

    $: project = $AppDataStore.editProject
    $: controlLabels = $AppDataStore.editProject?.controlLabels
    $: editObjects = getEditObjects(controlLabels)

    let icons = [
        "arrowDown",
        "arrowLeft",
        "arrowRight",
        "arrowUp",
        "gallery",
        "help",
        "info",
        "language",
        "loading",
        "pause",
        "phone",
        "play",
        "restart",
        "settings",
        "shoppingBag",
        "shoppingCart",
        "skipNext",
        "skipPrevious",
        "time",
    ]

    function getEditObjects(controlLabels) {
        let result = []
        if (controlLabels) {
            result = [
                { id: "slot1", title: "Gallery", icon: controlLabels["slot1"].icon, labels: getLabels("slot1") },
                { id: "slot5", title: "Infocard", icon: controlLabels["slot5"].icon, labels: getLabels("slot5") },
                { id: "slot2", title: "Previous", icon: controlLabels["slot2"].icon, labels: getLabels("slot2") },
                { id: "slot4", title: "Next", icon: controlLabels["slot4"].icon, labels: getLabels("slot4") },
                { id: "slot3.restart", title: "Restart", icon: controlLabels["slot3"]["restart"].icon, labels: getLabels("slot3", "restart") },
                { id: "slot3.loading", title: "Loading", icon: controlLabels["slot3"]["loading"].icon, labels: getLabels("slot3", "loading") },
                { id: "slot3.pause", title: "Pause", icon: controlLabels["slot3"]["pause"].icon, labels: getLabels("slot3", "pause") },
                { id: "slot3.play", title: "Play", icon: controlLabels["slot3"]["play"].icon, labels: getLabels("slot3", "play") },
            ]
        }
        return result
    }

    function getLabels(slot, subslot) {
        let result = []
        for (const lng of project.languages) {
            let text = ""
            if (controlLabels[slot]) {
                let label = {}
                if (subslot) {
                    if (controlLabels[slot][subslot]) label = controlLabels[slot][subslot].label
                    else label = {}
                } else label = controlLabels[slot].label
                if (label[lng]) text = label[lng]
            }
            result.push({ lanaguage: lng, text: text })
        }
        return result
    }

    function handleContentInput(e) {
        console.log(e.data)
        let parts = e.target.id.split("§§")
        if (parts.length == 2) {
            let slot = parts[0]
            let language = parts[1]
            // Arbeitskopie, damit sich controlLabels erst aufgrund AppDataStore.setProjectField - s.u. - ändert
            let workControlLabels = JSON.parse(JSON.stringify(controlLabels))
            for (const key in workControlLabels) {
                if (slot.startsWith(key)) {
                    let slotparts = slot.split(".")
                    if (slotparts.length > 1) {
                        workControlLabels[key][slotparts[1]].label[language] = e.target.value
                    } else {
                        workControlLabels[key].label[language] = e.target.value
                    }
                } else workControlLabels[key] = controlLabels[key]
            }

            AppDataStore.setProjectField(workControlLabels, "controlLabels")
        }
    }

    function iconSelected(icon, editobject) {
        console.log(editobject)
        // Arbeitskopie, damit sich controlLabels erst aufgrund AppDataStore.setProjectField - s.u. - ändert
        let workControlLabels = JSON.parse(JSON.stringify(controlLabels))
        for (const key in workControlLabels) {
            if (editobject.id.startsWith(key)) {
                let slotparts = editobject.id.split(".")
                if (slotparts.length > 1) workControlLabels[key][slotparts[1]].icon = icon
                else workControlLabels[key].icon = icon
            }
        }
        AppDataStore.setProjectField(workControlLabels, "controlLabels")
    }
</script>

<Accordion>
    {#each editObjects as editobject}
        <AccordionItem header={editobject.title}>
            <FormGroup>
                <Label>Icon</Label>
                <!--   <Input id={"title§§icon"} type="text" value={editobject.icon} readonly /> -->
                <Dropdown>
                    <DropdownToggle caret>{editobject.icon}</DropdownToggle>
                    <DropdownMenu>
                        <div class="scrollable-menu">
                            {#each icons as icon}
                                <DropdownItem on:click={iconSelected(icon, editobject)} active={editobject.icon == icon}>{icon}</DropdownItem>
                            {/each}
                        </div>
                    </DropdownMenu>
                </Dropdown>
            </FormGroup>
            <Label>Label</Label>
            <FormGroup>
                {#if editobject.labels && editobject.labels.length}
                    {#each editobject.labels as label}
                        <Label>{label.lanaguage}</Label>
                        <Input id={editobject.id + "§§" + label.lanaguage} type="text" bind:value={label.text} on:input={handleContentInput} />
                    {/each}
                {/if}
            </FormGroup>
        </AccordionItem>
    {/each}
</Accordion>

<style>
    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
</style>
