<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { Dropdown, DropdownToggle, DropdownMenu, DropdownItem, Button, ButtonDropdown } from "sveltestrap"
    import { AppDataStore, allCustomers } from "../stores/AppDataStore"
    import ImportProjectModal from "../modals/ImportProjectModal.svelte"
    import NameModal from "../modals/NameModal.svelte"
    import CustomerModal from "../modals/CustomerModal.svelte"
    import RadioModal from "../modals/RadioModal.svelte"
    import { projectIds } from "../services/firestore"
    import { AuthStore } from "../stores/AuthStore"
    export let customerNames

    async function customerSelected(e) {
        if (e == allCustomers) await AppDataStore.setAllProjects(customerNames, projectIds)
        else await AppDataStore.setCurrentCustomer(e)
    }

    $: if (customerNames) customerSelected(allCustomers)

    $: currentCustomerName = getCurrentCustomerName($AppDataStore)

    function getCurrentCustomerName() {
        return AppDataStore.getCurrentCustomerName()
    }

    let importModalOpen = false
    function handleImportProjectClick() {
        importModalOpen = true
    }

    let cloneProjectName = ""
    let cloneModalOpen = false
    function handleCloneProjectClick() {
        modalCurrentProjectNames.length = 0
        for (const project of $AppDataStore.projects) {
            modalCurrentProjectNames.push(project.name)
        }
        cloneModalOpen = true
    }

    let newProject = undefined
    function handleOptionSelected(e) {
        logI("handleOptionSelected " + e.detail)
        let source = $AppDataStore.projects.find((o) => o.name == e.detail)
        if (source) handleAddProjectClick(source)
    }

    let customerModalOpen = false
    function handleCustomerSettings() {
        customerModalOpen = true
    }

    let nameModalOpen = false
    let modalCurrentProjectNames = []
    function handleAddProjectClick(clone) {
        newProject = clone
        modalCurrentProjectNames.length = 0
        for (const project of $AppDataStore.projects) {
            modalCurrentProjectNames.push(project.name)
        }
        nameModalOpen = true
    }

    function handleNameCommit(e) {
        logI("handleNameCommit " + e.detail)

        let userData = AuthStore.getUserData()

        if (newProject) {
            newProject.name = e.detail
            newProject.clonedBy = userData.email
            newProject.clonedAt = new Date().toString()
        } else
            newProject = {
                version: "2.0.0",
                name: e.detail,
                description:{},
                customer: $AppDataStore.currentCustomer.customerId,
                scenes: [],
                playlists: [],
                languages: [],
                title: {},
                subTitle: {},
                poster16x9: {},
                poster3x4: {},
                poster9x16: {},
                startButtonText: {},
                hint: {},
                crosslinksDescription: {},
                resumePauseOnSceneJump: true,
                showGalleryTitles: true,
                pauseOnFocusLost: true,
                createdAt: new Date().toString(),
                createdBy: userData.email,
                controlLabels: {
                    slot1: {
                        icon: "gallery",
                        label: {},
                    },
                    slot2: {
                        icon: "skipPrevious",
                        label: {},
                    },
                    slot3: {
                        pause: {
                            icon: "pause",
                            label: {},
                            active: false,
                            showLabel: true,
                        },
                        play: {
                            icon: "play",
                            label: {},
                            active: false,
                            showLabel: true,
                        },
                        restart: {
                            icon: "restart",
                            label: {},
                            active: false,
                            showLabel: true,
                        },
                        loading: {
                            icon: "time",
                            label: {},
                            active: false,
                            showLabel: true,
                        },
                    },
                    slot4: {
                        icon: "skipNext",
                        label: {},
                    },
                    slot5: {
                        icon: "shoppingBag",
                        label: {},
                    },
                },
            }
        AppDataStore.addProject(newProject)
        newProject = undefined
    }
</script>

<div class="div-selector">
    <Dropdown>
        <DropdownToggle caret>{currentCustomerName}</DropdownToggle>
        <DropdownMenu end>
            {#each customerNames as customer}
                <DropdownItem on:click={customerSelected(customer)}>{customer}</DropdownItem>
            {/each}
        </DropdownMenu>
    </Dropdown>

    {#if currentCustomerName != "All customers"}
        <div class="div-selector">
            <div class="div-navitem">
                <Button class="no-focus" on:click={() => handleCustomerSettings()}>Customer Settings</Button>
            </div>

            <div class="div-navitem">
                <ButtonDropdown>
                    <DropdownToggle caret>Projects</DropdownToggle>
                    <DropdownMenu>
                        <DropdownItem on:click={() => handleAddProjectClick(null)}>Add Project</DropdownItem>
                        <DropdownItem on:click={() => handleImportProjectClick()}>Import Project</DropdownItem>
                        <DropdownItem on:click={() => handleCloneProjectClick()}>Clone Project</DropdownItem>
                    </DropdownMenu>
                </ButtonDropdown>
            </div>
        </div>
    {/if}
</div>
<NameModal modalField="Project Name" modalInvalids={modalCurrentProjectNames} bind:open={nameModalOpen} on:textCommit={handleNameCommit} />
<ImportProjectModal bind:open={importModalOpen} />
<CustomerModal bind:open={customerModalOpen} />
<RadioModal
    modalTitle="Clone Project"
    size="sm"
    bind:options={modalCurrentProjectNames}
    bind:selectedOption={cloneProjectName}
    bind:open={cloneModalOpen}
    on:optionSelected={handleOptionSelected}
/>

<style>
    .div-selector {
        margin-left: 1em;
        display: flex;
    }
</style>
