<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { Label, Input, Button, Accordion, AccordionItem } from "sveltestrap"
    import RichTextModal from "../modals/RichTextModal.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import LinkEditor from "../components/LinkEditor.svelte"

    let titles, subTitles, links
    $: project = $AppDataStore.editProject
    $: reactOnProject(project)
    function reactOnProject() {
        if (project) {
            if (!project.endCard) project.endCard = {}
            titles = getTexts(project.endCard, "title")
            subTitles = getTexts(project.endCard, "subTitle")
            links = []
            if (!project.endCard["link"]) project.endCard["link"] = {}
            for (const lng of project.languages) {
                let link = project.endCard["link"][lng]
                if (!link) link = { url: "", text: "" }
                links.push({ lanaguage: lng, link: link })
            }
        }
    }

    function getTexts(endCard, field) {
        logT("getTexts")
        let result = []
        if (!endCard[field]) endCard[field] = {}
        for (const lng of project.languages) {
            let text = endCard[field][lng]
            if (!text) text = ""
            result.push({ lanaguage: lng, text: text })
        }
        return result
    }

    function handleInput(e) {
        console.log(e.target.value)
        AppDataStore.setProjectField(e.target.value, e.target.id)
    }

    let modalRichTextOpen = false
    let modalObjects = []
    function handleEditButton() {
        logI("handleEditButton")
        modalObjects.length = 0
        if (!project.endCard.description) project.endCard.description = {}
        for (const lng of $AppDataStore.editProject.languages) {
            let text = project.endCard.description[lng]
            if (!text) text = ""
            modalObjects.push({ id: lng, text: text, edit: false, divRte: null, sfRte: null })
        }
        modalRichTextOpen = true
    }

    function handleTextCommit(e) {
        logI("handleTextCommit")
        let description = {}
        for (const item of e.detail) {
            description[item.id] = item.text
        }
        AppDataStore.setProjectField(description, "endCard§§description")
    }
</script>

<Accordion>
    <AccordionItem header="Title">
        {#if titles && titles.length}
            {#each titles as title}
                <Label>{title.lanaguage}</Label>
                <Input id={"endCard§§title§§" + title.lanaguage} type="text" value={title.text} on:input={handleInput} />
            {/each}
        {/if}
    </AccordionItem>

    <AccordionItem header="Subtitle">
        {#if subTitles && subTitles.length}
            {#each subTitles as subTitle}
                <Label>{subTitle.lanaguage}</Label>
                <Input id={"endCard§§subTitle§§" + subTitle.lanaguage} type="text" value={subTitle.text} on:input={handleInput} />
            {/each}
        {/if}
    </AccordionItem>

    <AccordionItem header="Description">
        <!--    {#if descriptions && descriptions.length}
            {#each descriptions as description}
                <Label>{description.lanaguage}</Label>
                <Input id={"description§§" + description.lanaguage} type="text" value={description.text} on:input={handleInput} />
            {/each}
        {/if} -->
        <Button on:click={handleEditButton} block>Edit...</Button>
    </AccordionItem>

    <AccordionItem header="Link">
        {#if links && links.length}
            {#each links as link}
                <Label>{link.lanaguage}</Label>
                <LinkEditor language={link.lanaguage} link={link.link} />
            {/each}
        {/if}
    </AccordionItem>
</Accordion>

<RichTextModal modalField="Desription" {modalObjects} bind:open={modalRichTextOpen} on:textCommit={handleTextCommit} />
