<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { Spinner } from "sveltestrap"
    import Hls from "hls.js"
    import { onMount } from "svelte"

    export let opacity = 1

    let video,
        hls,
        hlsDebug = false

    export function initVideo() {
        logI("initVideo ")
        playVideo()
        video.pause()
    }

    onMount(() => {
        hls = new Hls({ debug: hlsDebug })
    })

    let loading = false
    export function playClip(url) {
        let success = false
        if (url) {
            loading = true
            success = true
            if (Hls.isSupported()) {
                try {
                    if (hls.url != null) {
                        hls.destroy()
                        hls = new Hls({ debug: hlsDebug })
                    }
                    hls.attachMedia(video)
                    hls.on(Hls.Events.MEDIA_ATTACHED, function (event, data) {
                        //logI('hls attached')
                        hls.loadSource(url)
                        //logI(`hls load ${url}`)
                        hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
                            //logI("manifest loaded, found " + data.levels.length + " quality levels")
                            playVideo(video)
                        })
                        hls.on(Hls.Events.ERROR, function (event, data) {
                            loading = false
                            if (data.fatal) {
                                logE(`ERROR ${event} ${data.type} ${data.details} url ${hls.url}`)
                            }
                        })
                    })
                } catch (error) {
                    loading = false
                    logE(`CATCH loadClip video1 EXC: ${error}`)
                }
            } else {
                //logI(`NonHls has to load ${direction} clip`)
                video.src = url
                playVideo()
            }
        } else {
            //logI(`NO clip ${direction} ${seqNo}`)
        }
        //logI(`EXIT  loadClip success ${success}`)
        return success
    }

    export function playVideo() {
        try {
            let promise = video.play()
            if (promise !== undefined) {
                promise
                    .then((_) => {
                        loading = false
                        logT("playVideo: video is playing")
                    })
                    .catch((error) => {
                        loading = false
                        handleError(error, "I")
                    })
            }
        } catch (error) {
            handleError(error, "O")
        }
    }

    function handleError(error, postfix) {
        loading = false
        if (video.src && video.src.endsWith(".m3u8") && !error.startsWith("AbortError")) {
            logE(`playVideo  SRC:'${video.src}' EXC${postfix}: ${error}`)
        } else {
            //logI(`playVideo SRC:'${video.src}' EXC${postfix}: ${error}`)
        }
    }
</script>

<div class="div-content">
    {#if loading}
        <div class="div-spinner">
            <Spinner color="secondary" />
        </div>
    {/if}
    <video bind:this={video} crossorigin playsinline style="opacity:{opacity};">
        <track kind="captions" />
    </video>
</div>

<style>
    .div-content {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .div-content video {
        max-width: 100%;
        max-height: 100%;
    }
    .div-spinner {
        position: absolute;
        top: calc(50% - 0.5em);
        left: calc(50% - 0.5em);
    }
</style>
