<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { Button } from "sveltestrap"
    import ArrowUp20 from "carbon-icons-svelte/lib/ArrowUp20"
    import ArrowDown20 from "carbon-icons-svelte/lib/ArrowDown20"
    import ArrowLeft20 from "carbon-icons-svelte/lib/ArrowLeft20"
    import ArrowRight20 from "carbon-icons-svelte/lib/ArrowRight20"
    import Upload20 from "carbon-icons-svelte/lib/Upload20"
    import Undo20 from "carbon-icons-svelte/lib/Undo20"
    import Delete20 from "carbon-icons-svelte/lib/Delete20"
    import Compare20 from "carbon-icons-svelte/lib/Compare20"
    import Add20 from "carbon-icons-svelte/lib/Add20"
    import Play20 from "carbon-icons-svelte/lib/Play20"

    import { createEventDispatcher } from "svelte"
    const dispatch = createEventDispatcher()

    export let icon,
        color='',
        disabled = false

    $: carbonIcon = getIcon(icon)

    function getIcon(icon) {
        switch (icon) {
            case "ArrowUp":
                return ArrowUp20
            case "ArrowDown":
                return ArrowDown20
            case "ArrowLeft":
                return ArrowLeft20
            case "ArrowRight":
                return ArrowRight20
            case "Upload":
                return Upload20
            case "Undo":
                return Undo20
            case "Compare":
                return Compare20
            case "Delete":
                return Delete20
            case "Add":
                return Add20
            case "Play":
                return Play20
            default:
                return ArrowLeft20
        }
    }

    function handleClick(e) {
        dispatch("click", e)
    }
</script>

<div class="div-button">
    <Button class="rounded-circle" {color} {disabled} on:click={() => handleClick()}><svelte:component this={carbonIcon} class="carbon-icon" /></Button>
</div>

<style>
    .div-button {
        max-height: 2em;
    }
</style>
