<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { ToastStore } from "../stores/ToastStore"
    import { AppDataStore } from "../stores/AppDataStore"
    import IconButton from "../components/IconButton.svelte"
    import { ListGroup, ListGroupItem } from "sveltestrap"
    import NameModal from "../modals/NameModal.svelte"
    import ConfirmDeleteModal from "../modals/ConfirmDeleteModal.svelte"

    onDestroy(() => {
        logI("onDestroy LanguageList")
    })

    onMount(() => {
        logI("onMount LanguageList")
    })

    function handleTextCommit(e) {
        logI("handleTextCommit")
        if ($AppDataStore.editProject.languages.includes(e.detail)) {
            ToastStore.append(`Language name '${e.detail}' already exists!`, 3, "danger", "center-top")
            return
        }
        let languagesNew = [...$AppDataStore.editProject.languages, e.detail]
        AppDataStore.setLanguages(languagesNew)
    }

    function showDeleteConfirm(language) {
        modalSize = ""
        modalField = "the language name"
        modalValue = language
        modalDeleteOpen = true
    }
    function moveLanguage(language, offset) {
        let languagesNew = [...$AppDataStore.editProject.languages]
        let index = languagesNew.indexOf(language)
        languagesNew.splice(index, 1)
        languagesNew.splice(index + offset, 0, language)
        AppDataStore.setLanguages(languagesNew)
    }

    function handleCommitDelete(e) {
        logI("handleCommitDelete " + e.detail)
        let languagesNew = []
        for (const language of $AppDataStore.editProject.languages) {
            if (language != e.detail) languagesNew.push(language)
        }
        AppDataStore.setLanguages(languagesNew)
    }

    let modalNameOpen = false
    let modalDeleteOpen = false
    let modalField = "Language name"
    let modalSubtext = "[2 char uppercase]"
    let modalValue
   
</script>

<div class="div-add">
    <IconButton icon="Add" on:click={() => (modalNameOpen = true)} />
</div>

<ListGroup>
    {#each $AppDataStore.editProject.languages as language, i}
        <ListGroupItem>
            <div class="div-language">
                <h3>{language}</h3>
                <div class="div-buttons">
                    {#if i > 1}
                        <IconButton color="light" icon="ArrowUp" on:click={moveLanguage(language, -1)} />
                    {/if}
                    {#if i < $AppDataStore.editProject.languages.length - 1 && i > 0}
                        <IconButton color="light" icon="ArrowDown" on:click={moveLanguage(language, 1)} />
                    {/if}
                    {#if i > 0}
                        <IconButton color="danger" icon="Delete" on:click={showDeleteConfirm(language)} />
                    {:else}
                        <h4>MASTER</h4>
                    {/if}
                </div>
            </div>
        </ListGroupItem>
    {/each}
</ListGroup>

<NameModal {modalField} {modalSubtext} forceUpperCase="true" minLength="2" maxLength="2" bind:open={modalNameOpen} on:textCommit={handleTextCommit} />
<ConfirmDeleteModal {modalField} {modalValue} forceUpperCase="true" bind:open={modalDeleteOpen} on:commitDelete={handleCommitDelete} />

<style>
    h3 {
        margin-top: 0.3em;
    }
    h4 {
        margin-top: 0.2em;
    }
    .div-add {
        display: flex;
        justify-content: end;
        margin-bottom: 1em;
    }
    .div-language {
        display: flex;
        justify-content: space-between;
    }
    .div-buttons {
        padding: 0.4em;
        display: flex;
        justify-content: right;
        gap: 0.1em;
    }
</style>
