<script>
    import { logE, logW, logI, logT } from "../services/log"
    import RichTextModal from "../modals/RichTextModal.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import { Label, Input, FormGroup } from "sveltestrap"

    export let link = { text: "", url: "" }
    export let language = ""
    export let prop = "endCard§§link§§"

    function handleTextInput(e) {
        console.log(e.target.value)
        let newlink = { text: e.target.value, url: link.url }
        AppDataStore.setProjectField(newlink, `${prop}${language}`)
    }
    function handleLinkInput(e) {
        console.log(e.target.value)
        let newlink = { text: link.text, url: e.target.value }
        AppDataStore.setProjectField(newlink, `${prop}${language}`)
    }
</script>

<FormGroup>
    <Label>Text</Label>
    <Input type="text" bind:value={link.text} on:input={handleTextInput} />
</FormGroup>
<FormGroup>
    <Label>URL</Label>
    <Input type="text" bind:value={link.url} on:input={handleLinkInput} />
</FormGroup>
