<script>
    import { logE, logW, logI, logT } from "../services/log"
    import logo from "../../static/inlumeIcon.svg"
    import { onMount, onDestroy } from "svelte"
    import { goto } from "$app/navigation"
    import { Collapse, Navbar, NavbarToggler, Nav, Breadcrumb, BreadcrumbItem, Button } from "sveltestrap"
    import { AuthStore } from "../stores/AuthStore"
    import { AppDataStore } from "../stores/AppDataStore"
    import { userEmail, getUserType } from "../services/firestore"

    import WatchDog from "../components/WatchDog.svelte"
    import Avatar from "../components/Avatar.svelte"
    import UserSideBar from "./UserSideBar.svelte"

    export let title = "LumeTour Director DEV"
    export let breadcrumbs = []

    let isOpen = false
    function handleUpdate(event) {
        isOpen = event.detail.isOpen
    }

    onDestroy(() => {
        logI(`onDestroy navigation : ${$AuthStore?.state}`)
    })

    onMount(() => {
        logI(`onMount navigation : ${$AuthStore?.state}`)
        // initialisieren allein bei signedIn, ansonsten ab auf die index page
        if ($AuthStore.state === "signedIn") {
            initialize()
        } else goto("/")
    })

    let name, type
    let initials = ""
    async function initialize() {
        await AppDataStore.initCustomerDict()
        name = userEmail
        type = getUserType()
    }

    function handleHref(e) {
        //e.preventDefault()
        goto(e)
    }

    function handleAvatarClick() {
        //logI("AvatarClick")
        open = !open
        initials = open ? "X" : ""
    }

    let height
    let open = false
</script>

<svelte:window bind:innerHeight={height} />

<div class="div-navbar">
    <Navbar color="light" light expand="md">
        <img class="logo" src={logo} alt="logo" />
        {#if breadcrumbs}
            <Breadcrumb style="--bs-breadcrumb-divider: '>';padding-top:16px;font-size: larger;">
                {#each breadcrumbs as breadcrumb}
                    {#if breadcrumb.active}
                        <BreadcrumbItem active>{breadcrumb.title}</BreadcrumbItem>
                    {:else}
                        <BreadcrumbItem><button class="a-button" on:click={handleHref(breadcrumb.goto)}>{breadcrumb.title}</button></BreadcrumbItem>
                    {/if}
                {/each}
            </Breadcrumb>
        {:else}
            <h3>{title}</h3>
        {/if}

        <NavbarToggler on:click={() => (isOpen = !isOpen)} />
        <Collapse {isOpen} navbar expand="md" on:update={handleUpdate}>
            <Nav navbar>
                <slot />
            </Nav>
        </Collapse>
        <div class="div-cta">
            <slot name="slotFilter" />
        </div>
        <div class="div-cta">
            <slot name="slotCta" />
        </div>

        <WatchDog />
        {#if name}
            <Avatar {initials} {name} bgColor="#F9D72B" size="40px" on:avatarClick={handleAvatarClick} />
        {/if}
    </Navbar>

    <UserSideBar {type} {name} {open} {height} />
</div>

<style>
    h3 {
        margin-top: 8px;
    }
    .logo {
        height: 2em;
        width: 2em;
        margin-right: 2em;
    }
    .div-navbar {
        z-index: 1;
        position: sticky;
        top: 0;
    }
    .a-button {
        border-style: none;
        background: none;
        text-decoration: none;
        color: initial;
    }
    .div-cta {
        margin-right: 4rem;
    }
</style>
