<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { fly, fade } from "svelte/transition"
</script>

<!-- <div in:fly={{ y: -50, duration: 250, delay: 300 }} out:fly={{ y: -50, duration: 250 }}> -->
<div in:fade={{ duration: 250, delay: 300 }} out:fade={{ duration: 250 }}>
    <slot />
</div>
