<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { Dropdown, DropdownToggle, DropdownMenu, DropdownItem } from "sveltestrap"
    import { AppDataStore } from "../stores/AppDataStore"

    export let names

    function customerSelected(e) {
        selectedName = e
        let playlist = $AppDataStore.editProject?.playlists.find((o) => o.name == e)
        if (playlist) AppDataStore.setCurrentPlaylistId(playlist.id)
    }

    $: if (names) selectedName = names[0]

    let selectedName
</script>

<Dropdown>
    <DropdownToggle caret>{selectedName}</DropdownToggle>
    <DropdownMenu end>
        {#each names as name}
            <DropdownItem on:click={customerSelected(name)}>{name}</DropdownItem>
        {/each}
    </DropdownMenu>
</Dropdown>
