<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import { Input } from "sveltestrap"

    import SceneSelector from "./SceneSelector.svelte"
    import ButtonGroupSelector from "./ButtonGroupSelector.svelte"
    import ScenesGrid from "../grids/ScenesGrid.svelte"
    import BranchCrosslinksGrid from "../grids/BranchCrosslinksGrid.svelte"
    import TrunkCrosslinksGrid from "../grids/TrunkCrosslinksGrid.svelte"
    import { createEventDispatcher } from "svelte"
    const dispatch = createEventDispatcher()

    export let selectedSceneData, playlistId

    $: scene = $AppDataStore.editProject.scenes.find((o) => o.id == selectedSceneData.sceneId)

    onDestroy(() => {
        logI("onDestroy ScenesEditor")
    })

    onMount(() => {
        logI("onMount ScenesEditor")
        languages = $AppDataStore.editProject.languages
        if (languages && languages.length > 0) selectedLanguage = languages[0]
    })

    function handleSceneSelected(e) {
        logI("sceneSelected " + e.detail.name + " [" + e.detail.id + "]")
        scene = e.detail
        dispatch("sceneSelected", scene.id)
    }

    let languages = []
    let selectedLanguage = ""
    let editTypes = ["Crosslinks", "Scene"]
    let selectedEditType = "Scene"

    function handleCheckChange(e) {
        AppDataStore.setPlaylistSceneValue(
            playlistId,
            selectedSceneData.trunkIndex,
            selectedSceneData.branchSequenceKey,
            selectedSceneData.branchIndex,
            "loop",
            e.target.checked
        )
        logI("")
    }

    $: sceneLoops = loops(selectedSceneData)
    function loops(sceneData) {
        let playlist = $AppDataStore.editProject.playlists.find((o) => o.id == playlistId)
        let playlistScene = playlist.scenes[`PlSc-${selectedSceneData.trunkIndex}`]
        if (playlistScene) {
            if (selectedSceneData.branchSequenceKey && typeof selectedSceneData.branchIndex == "number") {
                let branchSequence = playlistScene.branches[selectedSceneData.branchSequenceKey]
                return branchSequence[`BrSc-${selectedSceneData.branchIndex}`]["loop"]
            } else return playlistScene.trunk["loop"]
        }
    }
</script>

<div>
    <div class="sub-nav">
        <div class="div-checkbox">
            <Input type="checkbox" label="LOOP" checked={sceneLoops} on:change={handleCheckChange} />
        </div>

        <ButtonGroupSelector bind:selectedOption={selectedEditType} options={editTypes} />

        {#if selectedEditType == "Scene"}
            <SceneSelector {scene} on:sceneSelected={handleSceneSelected} />
            <ButtonGroupSelector bind:selectedOption={selectedLanguage} options={languages} />
        {/if}
    </div>
    <div class="div-scene-editor">
        {#if scene}
            {#if selectedEditType == "Scene" && selectedLanguage}
                <ScenesGrid language={selectedLanguage} sceneName={scene.name} />
            {:else if selectedEditType == "Crosslinks"}
                {#if selectedSceneData.id.split(".").length == 1}
                    <TrunkCrosslinksGrid scenedata={selectedSceneData} />
                {:else}
                    <BranchCrosslinksGrid scenedata={selectedSceneData} />
                {/if}
            {/if}
        {/if}
    </div>
</div>

<style>
    .div-checkbox {
        margin-top: 0.5em;
    }

    .div-scene-editor {
        height: 300px;
        /*  border: solid 1px red; */
    }

    .sub-nav {
        margin: 0rem 1rem;
        border-radius: 4px;
        height: 39px;
        background-color: #ddd;
        padding-left: 1rem;
        display: flex;
        gap: 1em;
        overflow-x: scroll;
    }
    /*   h4 {
        margin-top: 5px;
    } */
</style>
