<div>
    <h1>Scenes</h1>
    <h2>- the atoms of a LumeTour</h2>
    <br />
    <h1>Playlists</h1>
    <h2>- the molecules of a LumeTour created by a subset of scenes</h2>
    <br />
    <h1>Management</h1>
    <h2>- general settings for a LumeTour</h2>
</div>

<style>
    div {
        z-index: 2;
        position: relative;
        top: 50px;
        left: 100px;
        color: white;
        opacity: 0.5;
        mix-blend-mode: difference;
    }
</style>
