<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Button } from "sveltestrap"
    import { AppDataStore } from "../stores/AppDataStore"
    import RadioModal from "../modals/RadioModal.svelte"
    import { createEventDispatcher } from "svelte"
    const dispatch = createEventDispatcher()

    let sceneNames = getSceneNames()
    function getSceneNames() {
        let scn = []
        for (const scene of $AppDataStore.editProject.scenes) {
            if (scene.name) scn.push(scene.name)
        }
        return scn
    }
    export let scene

    onDestroy(() => {
        logI("onDestroy SceneSelector")
    })

    onMount(() => {
        logI("onMount SceneSelector")
        sceneName = getSceneName(scene)
    })

    $: sceneName = getSceneName(scene)
    function getSceneName(scene) {
        if (scene) return scene.name
        else return "select scene..."
    }

    function handleOptionSelected(e) {
        logI("handleOptionSelected " + e.detail)
        scene = $AppDataStore.editProject.scenes.find((o) => o.name == e.detail)
        dispatch("sceneSelected", scene)
    }

    let modalOpen = false
    let modalTitle = "Scene"
</script>

<Button on:click={() => (modalOpen = true)}>{sceneName}</Button>
<RadioModal {modalTitle} size="sm" bind:options={sceneNames} bind:selectedOption={sceneName} bind:open={modalOpen} on:optionSelected={handleOptionSelected} />
