<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { Input, Button } from "sveltestrap"
    import Upload32 from "carbon-icons-svelte/lib/Upload32"
    import ImageModal from "../modals/ImageModal.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import UploadModal from "../modals/UploadModal.svelte"
    
    export let title = ""
    export let id = ""
    export let value = ""
    export let modalValidExtensions = []
    export let modalBaseDir = "projects"
    export let modalSubDir = $AppDataStore.editProject?.id
    export let modalTypeDir = "still"

    let imageModalOpen = false
    function showImageModal(e) {
        e.target.focused = false
        imageModalOpen = true
    }

    function handleImageCommit(e) {
        let image = e.detail
        logI("handleImageCommit")
        if (modalBaseDir == "projects") AppDataStore.setProjectField(image.name, id)
        else AppDataStore.updateCustomer(modalSubDir, id, image.name)
    }

    let modalUploadOpen = false
    let modalUploadDest

    function showUploadModal() {
        if (modalBaseDir == "projects") {
            if ($AppDataStore.editProject) {
                modalUploadDest = {
                    customerId: $AppDataStore.editProject.customer,
                    projectId: $AppDataStore.editProject.id,
                    projectField: id,
                    field: id,
                    title: title,
                    url: undefined,
                }
                modalUploadOpen = true
            }
        } else {
            modalUploadDest = {
                customerId: modalSubDir,
                customerField: id,
                field: id,
                title: title,
                url: undefined,
            }
            modalUploadOpen = true
        }
    }
    function handleUploadStart(e) {
        logI("handleUploadStart")
    }
</script>

<div class="div-flex">
    <div on:click={showImageModal} style="width: 100%;">
        <Input {id} type="text" {value} readonly style="cursor:pointer;height: 42px " />
    </div>
    <Button><svelte:component this={Upload32} class="carbon-icon" on:click={showUploadModal} /></Button>
</div>
<ImageModal {modalValidExtensions} {modalBaseDir} {modalSubDir} {modalTypeDir} modalValue={value} bind:open={imageModalOpen} on:commit={handleImageCommit} />
<UploadModal {modalValidExtensions} {modalUploadDest} bind:open={modalUploadOpen} on:uploadstart={handleUploadStart} />

<style>
    .div-flex {
        display: flex;
    }
</style>
