<script>
    export let open = false
    export let height = "20"

    $: if (open) {
        let x = document.getElementById("sidebar")
        if (x) x.style.height = `${height - 72}px`
    }
</script>

<div id="sidebar" class:open>
    <slot />
</div>

<style>
    div {
        border-radius: 8px;
        background: gray;
        position: absolute;
        top: 64px;
        right: 8px;
        width: 0px;
        height: 8px;
        transition: 0.5s ease-in-out;
    }

    .open {
        width: 500px;
    }
</style>
