<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import IconButton from "../components/IconButton.svelte"
    import { ListGroup, ListGroupItem, FormGroup, Label, Input } from "sveltestrap"

    onDestroy(() => {
        logI("onDestroy SplashScreenLabelsList")
    })

    onMount(() => {
        logI("onMount SplashScreenLabelsList")
    })

    $: languages = $AppDataStore.editProject?.languages
    $: splashscreenLabels = $AppDataStore.editProject?.splashscreenLabels

    function movesplashscreenLabel(splashscreenLabel, offset) {
        let splashscreenLabelsNew = [...$AppDataStore.editProject.splashscreenLabels]
        let index = splashscreenLabelsNew.indexOf(splashscreenLabel)
        splashscreenLabelsNew.splice(index, 1)
        splashscreenLabelsNew.splice(index + offset, 0, splashscreenLabel)
        AppDataStore.setsplashscreenLabels(splashscreenLabelsNew)
    }

    function addSplashscreenLabel() {
        if (!$AppDataStore.editProject.splashscreenLabels) AppDataStore.setsplashscreenLabels([])
        let splashscreenLabelsNew = [...$AppDataStore.editProject.splashscreenLabels, { icon: "", active: false, content: "" }]
        AppDataStore.setsplashscreenLabels(splashscreenLabelsNew)
    }

    // Der zweite Parameter dient nur dazu, dass diese FKT nicht beim Mount aufgerufen, sondern nur beim Klick
    function deleteSplashscreenLabel(index, dummyParameter) {
        let splashscreenLabelsNew = [...$AppDataStore.editProject.splashscreenLabels]
        splashscreenLabelsNew.splice(index, 1)
        AppDataStore.setsplashscreenLabels(splashscreenLabelsNew)
    }

    function handleContentInput(e) {
        console.log(e.target)
        let parts = e.target.id.split("§§")
        if (parts.length == 3) {
            let index = parts[1]
            let language = parts[2]
            // Arbeitskopie, damit sich splashscreenLabels erst aufgrund AppDataStore.setProjectField - s.u. - ändert
            let newSplashscreenLabels = []
            for (let i = 0; i < splashscreenLabels.length; i++) {
                const splashscreenLabel = splashscreenLabels[i]
                if (i != index) newSplashscreenLabels.push(splashscreenLabel)
                else {
                    // Arbeitskopie erzeugen
                    let newSplashscreenLabel = JSON.parse(JSON.stringify(splashscreenLabel))
                    // ggf. zuerst auf object umbauen
                    if (typeof newSplashscreenLabel.content == "string") {
                        let stringContent = splashscreenLabels[index].content
                        newSplashscreenLabel.content = {}
                        for (let i = 0; i < languages.length; i++) {
                            newSplashscreenLabel.content[languages[i]] = stringContent
                        }
                    }
                    newSplashscreenLabel.content[language] = e.target.value
                    // und aufnehmen
                    newSplashscreenLabels.push(newSplashscreenLabel)
                }
            }
            AppDataStore.setProjectField(newSplashscreenLabels, "splashscreenLabels")
        }
    }

    function handleNonLanguageInput(e) {
        let parts = e.target.id.split("§§")
        if (parts.length == 3) {
            let index = parts[1]
            let field = parts[2]
            // Arbeitskopie, damit sich splashscreenLabels erst aufgrund AppDataStore.setProjectField - s.u. - ändert
            let newSplashscreenLabels = []
            for (let i = 0; i < splashscreenLabels.length; i++) {
                const splashscreenLabel = splashscreenLabels[i]
                if (i != index) newSplashscreenLabels.push(splashscreenLabel)
                else {
                    // Arbeitskopie erzeugen
                    let newSplashscreenLabel = JSON.parse(JSON.stringify(splashscreenLabel))
                    // prop ändren
                    if (e.target.type == "checkbox") newSplashscreenLabel[field] = e.target.checked
                    else newSplashscreenLabel[field] = e.target.value
                    // und aufnehmen
                    newSplashscreenLabels.push(newSplashscreenLabel)
                }
            }
            AppDataStore.setProjectField(newSplashscreenLabels, "splashscreenLabels")
        }
    }
</script>

<div class="div-add">
    <IconButton icon="Add" on:click={addSplashscreenLabel} />
</div>

<ListGroup>
    {#if languages && splashscreenLabels}
        {#each splashscreenLabels as splashscreenLabel, i}
            <ListGroupItem>
                <div class="div-splashscreenLabel">
                    <FormGroup>
                        <Label>icon</Label>
                        <Input id={"splashscreenLabel§§" + i + "§§icon"} type="text" value={splashscreenLabel.icon} on:input={handleNonLanguageInput} />
                        <Label>active</Label>
                        <Input id={"splashscreenLabel§§" + i + "§§active"} type="checkbox" checked={splashscreenLabel.active} on:input={handleNonLanguageInput} />
                        {#each languages as language}
                            <Label>{language}</Label>
                            <Input id={"splashscreenLabel§§" + i + "§§" + language} type="text" value={splashscreenLabel.content[language] || splashscreenLabel.content} on:input={handleContentInput} />
                        {/each}
                    </FormGroup>
                    <div class="div-buttons">
                        {#if i > 0}
                            <IconButton color="light" icon="ArrowUp" on:click={movesplashscreenLabel(splashscreenLabel, -1)} />
                        {/if}
                        {#if i < $AppDataStore.editProject.splashscreenLabels.length - 1}
                            <IconButton color="light" icon="ArrowDown" on:click={movesplashscreenLabel(splashscreenLabel, 1)} />
                        {/if}
                        <IconButton color="danger" icon="Delete" on:click={deleteSplashscreenLabel(i, splashscreenLabel)} />
                    </div>
                </div>
            </ListGroupItem>
        {/each}
    {/if}
</ListGroup>

<style>
    .div-add {
        display: flex;
        justify-content: end;
        margin-bottom: 1em;
    }
    .div-splashscreenLabel {
        display: flex;
        justify-content: space-between;
    }
    .div-buttons {
        padding: 0.4em;
        display: flex;
        justify-content: right;
        gap: 0.1em;
    }
</style>
