<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { Navbar } from "sveltestrap"
    import Upload32 from "carbon-icons-svelte/lib/Upload32"

    import { UploadStore } from "../stores/UploadStore"
    import UploadButton from "../components/UploadButton.svelte"

    import { BatchUploadStore } from "../stores/BatchUploadStore"
    import BatchUploadButton from "../components/BatchUploadButton.svelte"

  /*   $: {
        if ($UploadStore) logT(`UploadStore ${$UploadStore.length}`)
        if ($BatchUploadStore) logT(`BatchUploadStore ${$BatchUploadStore.length}`)
    } */

    //if ($UploadStore&& $UploadStore.length>0) logT(`UploadStore ${$UploadStore[0].info}`)

</script>

{#if ($UploadStore && $UploadStore.length > 0) || ($BatchUploadStore && $BatchUploadStore.length > 0)}
    <div class="div-icon">
        <svelte:component this={Upload32} class="carbon-icon" />
    </div>
    <div class="div-navbar">
        <Navbar color="light" placement="fixed-bottom">
            <div class="div-buttons">
                {#if $UploadStore}
                    {#each $UploadStore as upload}
                        <UploadButton {upload} />
                    {/each}
                {/if}
                {#if $BatchUploadStore}
                    {#each $BatchUploadStore as batchUpload}
                        <BatchUploadButton {batchUpload} />
                    {/each}
                {/if}
            </div>
        </Navbar>
    </div>
{/if}

<style>
    .div-icon {
        color: gray;
        z-index: 1;
        position: absolute;
        left: 1rem;
        bottom: 0.7rem;
    }
    .div-navbar {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    .div-buttons {
        margin-left: 3rem;
        display: flex;
        gap: 0.2em;
        overflow-x: scroll;
    }
</style>
