<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Button } from "sveltestrap"
    import { UploadStore } from "../stores/UploadStore"
    import UploadModal from "../modals/UploadModal.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import { getCloudFlareVideoInfo } from "../services/directorapi"

    export let upload

    onDestroy(() => {
        logI("onDestroy UploadButton")
    })
    onMount(() => {
        logI("onMount UploadButton")
    })

    function handleClick(e) {
        let upload = UploadStore.getUpload(e)
        if (upload) {
            modalUploadDest = upload.dest
            modalUploadOpen = true
        }
    }

    let modalUploadOpen = false
    let modalUploadDest
    $: {
        let finishedUploads = $UploadStore.filter((o) => o.info === "SUCCESS" || o.info === "CANCELED" || o.info === "DURATION")
        if (finishedUploads.length > 0) {
            for (let i = 0; i < finishedUploads.length; i++) {
                const finishedUpload = finishedUploads[i]
                if (finishedUpload.info === "CANCELED") UploadStore.removeUpload(finishedUpload.id)
                else {
                    if (finishedUpload.dest.field) {
                        if (finishedUpload.dest.field.startsWith("clip")) {
                            // bei Clips werden die CF URL und duration gespeichert
                            AppDataStore.setSceneField(
                                finishedUpload.dest.sceneId,
                                finishedUpload.dest.field,
                                { url: finishedUpload.dest.url, duration: finishedUpload.dest.duration },
                                finishedUpload.dest.language
                            )
                            // und die müssen wir duration noch pollen...
                            finishedUpload.info = "DURATION"
                            setTimeout(() => {
                                getDuration(finishedUpload.id)
                            }, 2000)
                            // bei den übrigen assets wird nur der Dateiname als relative URL gespeichert
                        } else if (finishedUpload.dest.projectField) {
                            AppDataStore.setProjectField(finishedUpload.dest.url, finishedUpload.dest.projectField)
                            UploadStore.removeUpload(finishedUpload.id)
                        } else if (finishedUpload.dest.customerId && finishedUpload.dest.customerField) {
                            AppDataStore.updateCustomer(finishedUpload.dest.customerId, finishedUpload.dest.customerField, finishedUpload.dest.url)
                            UploadStore.removeUpload(finishedUpload.id)
                        } else {
                            AppDataStore.setSceneField(
                                finishedUpload.dest.sceneId,
                                finishedUpload.dest.field,
                                finishedUpload.dest.url,
                                finishedUpload.dest.language
                            )
                            UploadStore.removeUpload(finishedUpload.id)
                        }
                    } else UploadStore.removeUpload(finishedUpload.id)
                }
            }
        }
    }

    async function getDuration(uploadId) {
        logT("getDuration " + uploadId)
        let upload = $UploadStore.find((o) => o.id == uploadId)
        if (upload) {
            let clipInfo = await getCloudFlareVideoInfo(upload.dest.uid)
            let duration = 0
            if (clipInfo.stream_duration) {
                duration = clipInfo.stream_duration
                logT("got " + duration)
            } else logT("got " + clipInfo)
            UploadStore.setUploadDuration(uploadId, duration)
            UploadStore.removeUpload(uploadId)
        }
    }
</script>

<Button color="warning" class="text-nowrap" on:click={handleClick(upload.id)}>{upload.id} {upload.info}</Button>

<UploadModal {modalUploadDest} bind:open={modalUploadOpen} uploadId={upload.id} uploadInfo={`${upload.id} ${upload.info}`} />
