<script>
    import { fly, fade } from "svelte/transition"
    import { goto } from "$app/navigation"
    import { Button } from "sveltestrap"
    import { AuthStore } from "../stores/AuthStore"
    import SideBar from "./SideBar.svelte"
    export let open = false
    export let height = "20"
    export let type = "?"
    export let name = "?"

    function logout() {
        // signOut anstossen
        AuthStore.signOut()
        // und auf der index page das ergebnis abwarten
        goto("/login")
    }
</script>

<SideBar {open} {height}>
    {#if open}
        <div class="div-sidebar" in:fade>
            <div class="div-button">
                <h4>{type}</h4>
            </div>
            <div class="div-button">
                <Button color="warning" on:click={() => logout()}>logout {name}</Button>
            </div>
        </div>
    {/if}
</SideBar>

<style>
    h4{
        color: white;
    }
    .div-sidebar {
        padding: 2em;
    }
    .div-button {
        margin: auto;
        display: flex;
        justify-content: center;
        /* border: solid 1px red; */
        margin-bottom: 3em;
    }
</style>
