<script>
    import { logE, logW, logI, logT } from "../services/log"
    import IconButton from "../components/IconButton.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import { Spinner } from "sveltestrap"
    import JsonComparerModal from "../modals/JsonComparerModal.svelte"
    import { ToastStore } from "../stores/ToastStore"

    $: openChanges = getOpenChanges($AppDataStore)

    function getOpenChanges() {
        let openChanges = AppDataStore.getCurrentProjectOpenChanges()
        logI("openChanges " + openChanges)
        return openChanges
    }
    let origProjectJson, editProjectJson
    function doCompare() {
        logI("doCompare")
        if ($AppDataStore.editProject) {
            /* 
            JSON.stringify(jsObj, null, "\t") // stringify with tabs inserted at each level
            JSON.stringify(jsObj, null, 4) // stringify with 4 spaces at each level
            */
            // für die Lesbarkeit formatiert:
            origProjectJson = JSON.stringify(JSON.parse($AppDataStore.projectJson), null, 4)
            editProjectJson = JSON.stringify($AppDataStore.editProject, null, 4)
            modalComparerOpen = true
        }
    }

    let modalComparerOpen = false

    let uploadingProject = false
    async function handleProjectUpload() {
        uploadingProject = true
        await AppDataStore.uploadProject()
        uploadingProject = false

        checkProject()
    }
    function checkProject() {
        if ($AppDataStore.editProject.playlists.length > 0) {
            for (const playlist of $AppDataStore.editProject.playlists) {
                let keys = Object.keys(playlist.scenes)
                if (!playlist.scenes || keys.length > 0) {
                    for (const key of keys) {
                        let playlistScene = playlist.scenes[key]
                        if (!playlistScene.trunk || !playlistScene.trunk.sceneId || playlistScene.trunk.sceneId == "added") {
                            ToastStore.append(
                                `playlistScene '${playlist.name}' Sc${
                                    parseInt(key.split("-")[1]) + 1
                                } has no Scene configured, LumeTour won't start with this!`,
                                4,
                                "warning",
                                "center-top"
                            )
                        }
                    }
                } else ToastStore.append(`playlist ${playlist.name} is empty, LumeTour won't start with this!`, 4, "warning", "center-top")
            }
        } else ToastStore.append("No playlists, LumeTour won't start!", 4, "warning", "center-top")
    }

    function doLaunch(drafts) {
        if (openChanges) {
            ToastStore.append("Open Changes, the launched LumeTour will differ from current settings!", 6, "warning", "center-top")
        } else {
            let url = `https://dev.visit.lumetour.com/${$AppDataStore.editProject.customer}/${$AppDataStore.editProject.id}/`
            if ($AppDataStore.currentPlaylistId) {
                url += `?playlist=${$AppDataStore.currentPlaylistId}`
                // scene must be specified
                if (typeof $AppDataStore.currentSceneIndex == "number" && $AppDataStore.currentSceneIndex > -1)
                    url += `&scene=${$AppDataStore.currentSceneIndex}`
                else url += "&scene=0"
                // branch optional
                if (typeof $AppDataStore.currentBranchIndex == "number" && $AppDataStore.currentBranchIndex > -1)
                    url += `&branch=${$AppDataStore.currentBranchIndex}`
                if (drafts) url += "&drafts"
            } else if (drafts) url += "?drafts"
            window.open(url, "_blank")
        }
    }
</script>

<div class="div-icons">
    {#if openChanges}
        {#if uploadingProject}
            <Spinner color="warning" />
        {:else}
            <IconButton icon="Upload" color="warning" on:click={handleProjectUpload} />
        {/if}
        <IconButton icon="Undo" color="warning" on:click={() => AppDataStore.undoProject()} />
    {/if}
    {#if openChanges}
        <IconButton icon="Compare" color="primary" on:click={() => doCompare()} />
    {/if}
    {#if $AppDataStore.editProject}
        <IconButton icon="Play" color="primary" on:click={() => doLaunch(true)} />
    {/if}
</div>
{#if openChanges}
    <JsonComparerModal json1={origProjectJson} json2={editProjectJson} bind:open={modalComparerOpen} />
{/if}

<style>
    .div-icons {
        display: flex;
        gap: 1em;
        margin-right: 1em;
    }
</style>
