<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Card, CardBody, CardHeader, CardFooter, CardTitle } from "sveltestrap"
    import IconButton from "../components/IconButton.svelte"
    import CustomerForm from "../forms/CustomerForm.svelte"

    export let customer = { customerName: "?" }

    onDestroy(() => {
        logI("onDestroy CustomerCard")
    })
    onMount(() => {
        logI("onMount CustomerCard")
    })

</script>

<Card class="mb-3 customer-card">
    <CardHeader>
        <div class="div-flex2">
            <CardTitle>CUSTOMER</CardTitle>
            <IconButton icon="Delete" />
        </div>
    </CardHeader>
    <CardBody>
        <CustomerForm {customer} />
    </CardBody>
    <CardFooter>ID {customer?.customerId}</CardFooter>
</Card>

<style>
    .div-flex2 {
        padding-bottom: 0.5em;
        display: flex;
        justify-content: space-between;
    }

    :global(.customer-card) {
        height: 600px;
        width: 380px;
    }
</style>
