<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Button, Card, CardBody, CardFooter, CardHeader, CardTitle, FormGroup, Label, Input } from "sveltestrap"
    import IconButton from "../components/IconButton.svelte"
    import { AppDataStore } from "../stores/AppDataStore"
    import { createEventDispatcher } from "svelte"
    const dispatch = createEventDispatcher()

    export let playlist

    $: titles = getTitles(playlist)

    function getTitles(playlist) {
        /*  if(titles)
        return titles */

        let array = []
        if (playlist) {
            let languages = $AppDataStore.editProject.languages
            let titles = playlist.title
            if (titles) {
                for (const language of languages) {
                    let text = titles[language]
                    if (!text) text = ""
                    array.push({ language: language, text: text })
                }
            }
        }
        return array
    }

    function handleEditPlaylistClick() {
        dispatch("editPlaylist", playlist.id)
    }

    function handleClonePlaylistClick() {
        dispatch("clonePlaylist", playlist.id)
    }
    function handleDeletePlaylistClick() {
        dispatch("deletePlaylist", playlist.id)
    }
    function onInput() {
        AppDataStore.trigger()
    }

    onDestroy(() => {
        logI("onDestroy PlaylistCard")
    })
    onMount(() => {
        logI("onMount PlaylistCard")
    })

    function handleInput(e) {
        console.log(e.target.value)
        AppDataStore.setPlaylistTitleValue(playlist.id, e.target.id, e.target.value)
    }
</script>

<Card class="mb-3 playlist-card">
    <CardHeader>
        <CardTitle>PLAYLIST</CardTitle>
    </CardHeader>
    <CardBody>
        <FormGroup>
            <Label for="playlist-name">Playlist Name</Label>
            <Input type="text" id="playlist-name" bind:value={playlist.name} on:input={onInput} />
        </FormGroup>
        <br />
        <FormGroup>
            <h6>Playlist Title</h6>
            {#if titles && titles.length}
                {#each titles as title}
                    <Label>{title.language}</Label>
                    <Input id={title.language} type="text" value={title.text} on:input={handleInput} />
                {/each}
            {/if}
        </FormGroup>

        <div class="div-allbuttons">
            <div class="div-buttons">
                <Button on:click={handleEditPlaylistClick}>Edit...</Button>
                <Button on:click={handleClonePlaylistClick}>Clone</Button>
                <Button on:click={handleDeletePlaylistClick}>Delete</Button>
            </div>

            <div class="div-buttons">
                {#if AppDataStore.indexOfPlaylist(playlist.id) > 0}
                    <IconButton icon="ArrowLeft" color="secondary" on:click={() => AppDataStore.shiftPlaylist(playlist.id, -1)} />
                {/if}

                {#if AppDataStore.indexOfPlaylist(playlist.id) < $AppDataStore.editProject.playlists.length - 1}
                    <IconButton icon="ArrowRight" color="secondary" on:click={() => AppDataStore.shiftPlaylist(playlist.id, +1)} />
                {/if}
            </div>
        </div>
    </CardBody>
</Card>

<style>
    .div-allbuttons {
        display: flex;
        justify-content: space-between;
    }
    .div-buttons {
        display: flex;
        gap: 0.2em;
    }

    :global(.playlist-card) {
        width: 380px;
    }
</style>
