<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { Card, CardTitle } from "sveltestrap"
    import { AppDataStore } from "../stores/AppDataStore"
    import { ToastStore } from "../stores/ToastStore"
    import { getStillAssetsUrl, resolveField } from "../services/assets"
    import { createEventDispatcher } from "svelte"

    const dispatch = createEventDispatcher()

    export let project

    $: imageSrc = getImageSrc(project)
    //$: logT(` ${project.customer}/${project.projectDir}: ${imageSrc}`)

    function getImageSrc(project) {
        if (project) {
            let p1 = getStillAssetsUrl(project)
            let p2 = resolveField(project.poster16x9, project)
            if (!p2) p2 = resolveField(project.poster, project)
            let url = p1 + p2 + "?alt=media"
            return url
        }
        return ""
    }

    function editButtonClick() {
        if (project.version) dispatch("projectSelected", project.id)
        else ToastStore.append("Sorry, for NEW projects only!", 3, "warning", "center-top")
    }
</script>

<Card class="mb-3 project-card" on:click={editButtonClick}>
    <img class="img-poster" src={imageSrc} alt={project.name} />
    <CardTitle>{project.name} <br /> {AppDataStore.getCustomer(project.customer)?.customerName}</CardTitle>
</Card>

<style>
    :global(.project-card) {
        width: 380px;
        background: white;
        border: none;
        margin: 16px;
    }

    .img-poster {
        left: 0px;
        max-width: 100%;
        height: 213.75px;
        border-radius: 4px;
        margin-bottom: 16px;
    }
</style>
