<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { onMount, onDestroy } from "svelte"
    import { Card, CardBody, CardHeader, CardFooter, CardTitle, CardSubtitle, Button, FormGroup, Label, Input } from "sveltestrap"
    import { ToastStore } from "../stores/ToastStore"
    import { PublishStore } from "../stores/PublishStore"
    import { AppDataStore } from "../stores/AppDataStore"
    import { publishProject, withdrawPublishing } from "../services/firestore"
    import { toLocaleString } from "../services/utils"
    import IconButton from "../components/IconButton.svelte"

    export let publishInfo = { title: "?" }

    onDestroy(() => {
        logI("onDestroy PublishCard")
    })
    onMount(() => {
        logI("onMount PublishCard")
    })

    async function handlePublishProject() {
        let openChanges = AppDataStore.getCurrentProjectOpenChanges()
        if (openChanges) ToastStore.append("OPEN CHANGES!", 3, "danger", "center-top")
        else if (publishInfo.project) {
            let error = await publishProject(publishInfo.project)
            if (error) ToastStore.append(error, 3, "warning", "center-top")
            else ToastStore.append("successfully published!", 1, "success", "center-top")
            await PublishStore.init(publishInfo.project.id)
        }
    }
    async function handleWithdrawPublishing() {
        if (publishInfo.project) {
            let error = await withdrawPublishing(publishInfo.project.id)
            if (error) ToastStore.append(error, 3, "warning", "center-top")
            else ToastStore.append("last publishing successfully withdrawn!", 1, "success", "center-top")
            await PublishStore.init(publishInfo.project.id)
        }
    }

    function doLaunch(drafts) {
        if (drafts) {
            let openChanges = AppDataStore.getCurrentProjectOpenChanges()
            if (openChanges) {
                ToastStore.append("OPEN CHANGES!", 3, "danger", "center-top")
                return
            }
        }
        let url = `https://dev.visit.lumetour.com/${$AppDataStore.editProject.customer}/${$AppDataStore.editProject.id}/`
        if ($AppDataStore.currentPlaylistId) {
            url += `?playlist=${$AppDataStore.currentPlaylistId}`
            // scene must be specified
            if (typeof $AppDataStore.currentSceneIndex == "number" && $AppDataStore.currentSceneIndex > -1) url += `&scene=${$AppDataStore.currentSceneIndex}`
            else url += "&scene=0"
            // branch optional
            if (typeof $AppDataStore.currentBranchIndex == "number" && $AppDataStore.currentBranchIndex > -1)
                url += `&branch=${$AppDataStore.currentBranchIndex}`
            if (drafts) url += "&drafts"
        } else if (drafts) url += "?drafts"
        window.open(url, "_blank")
    }
</script>

<Card class="mb-3 customer-card">
    <CardHeader>
        <div class="div-flex2">
            <CardTitle>CUSTOMER</CardTitle>
            {#if publishInfo.folder == "projects"}
                <IconButton icon="Play" color="primary" on:click={() => doLaunch(true)} />
            {:else if publishInfo.folder == "projects-public"}
                <IconButton icon="Play" color="primary" on:click={() => doLaunch(false)} />
            {/if}
        </div>
        <CardTitle>{publishInfo.title}</CardTitle>
        <CardSubtitle>Version {publishInfo.project.dataVersion}</CardSubtitle>
    </CardHeader>
    <CardBody>
        {#if publishInfo.folder == "projects"}
            <FormGroup>
                <Label>createdAt</Label>
                <Input type="text" value={toLocaleString(publishInfo.project.createdAt)} readonly />
            </FormGroup>

            {#if publishInfo.project.createdBy}
                <FormGroup>
                    <Label>createdBy</Label>
                    <Input type="text" value={publishInfo.project.createdBy} readonly />
                </FormGroup>
            {/if}
            {#if publishInfo.project.updatedAt}
                <FormGroup>
                    <Label>updatedAt</Label>
                    <Input type="text" value={toLocaleString(publishInfo.project.updatedAt)} readonly />
                </FormGroup>
                <FormGroup>
                    <Label>updatedBy</Label>
                    <Input type="text" value={publishInfo.project.updatedBy} readonly />
                </FormGroup>
            {/if}

            {#if publishInfo.project.importedAt}
                <FormGroup>
                    <Label>importedAt</Label>
                    <Input type="text" value={toLocaleString(publishInfo.project.importedAt)} readonly />
                </FormGroup>
                <FormGroup>
                    <Label>importedBy</Label>
                    <Input type="text" value={publishInfo.project.importedBy} readonly />
                </FormGroup>
            {/if}
            {#if publishInfo.project.clonedAt}
                <FormGroup>
                    <Label>clonedAt</Label>
                    <Input type="text" value={toLocaleString(publishInfo.project.clonedAt)} readonly />
                </FormGroup>
                <FormGroup>
                    <Label>clonedBy</Label>
                    <Input type="text" value={publishInfo.project.clonedBy} readonly />
                </FormGroup>
            {/if}
        {:else if publishInfo.folder == "projects-public" || publishInfo.folder == "projects-public-sav"}
            <FormGroup>
                <Label>publishedAt</Label>
                <Input type="text" value={toLocaleString(publishInfo.project.publishedAt)} readonly />
            </FormGroup>
            <FormGroup>
                <Label>publishedBy</Label>
                <Input type="text" value={publishInfo.project.publishedBy} readonly />
            </FormGroup>
        {/if}
    </CardBody>

    {#if publishInfo.folder != "projects-public-sav"}
        <CardFooter>
            {#if publishInfo.folder == "projects"}
                <Button disabled={publishInfo.project.dataVersion == PublishStore.getDataVersion("projects-public")} block on:click={handlePublishProject}
                    >Publish</Button
                >
            {:else if publishInfo.folder == "projects-public"}
                <Button block on:click={handleWithdrawPublishing}>WithDraw</Button>
            {/if}
        </CardFooter>
    {/if}
</Card>

<style>
    .div-flex2 {
        padding-bottom: 0.5em;
        display: flex;
        justify-content: space-between;
    }

    :global(.customer-card) {
        height: 600px;
        width: 380px;
    }
</style>
