<script>
    import { logE, logW, logI, logT } from "../services/log"
    import { Input, Card, CardBody, CardHeader, CardSubtitle, CardTitle } from "sveltestrap"
    import { AppDataStore } from "../stores/AppDataStore"

    export let templateCardObject
    $: functionGroup = templateCardObject?.items[0].selected
    $: visibilityGroup = templateCardObject?.items[1]?.selected
    $: visibilityDisabled = templateCardObject?.items[0].selected == "Disabled"

    function handleChangeItem0(e) {
        if (e.currentTarget.type == "radio") {
            logI(templateCardObject.items[0].title + " -> " + e.currentTarget.value)
            templateCardObject.items[0].selected = e.currentTarget.value
            // Sondergirlande Function->Visibility
            if (templateCardObject.items.length > 1 && e.currentTarget.value == "Disabled") {
                templateCardObject.items[1].selected = "Hidden"
            }
        } else {
            logI(e.currentTarget.id + " checked -> " + e.currentTarget.checked)
            let check = templateCardObject.items[0].checks.find((o) => o.id == e.currentTarget.id)
            if (check) check["checked"] = e.currentTarget.checked
        }
        AppDataStore.updateTemplate(templateCardObject)
    }
    function handleChangeItem1(e) {
        if (e.currentTarget.type == "radio") {
            logI(templateCardObject.items[1].title + " -> " + e.currentTarget.value)
            templateCardObject.items[1].selected = e.currentTarget.value
        } else {
            logI(e.currentTarget.id + "checked -> " + e.currentTarget.checked)
            let check = templateCardObject.items[1].checks.find((o) => o.id == e.currentTarget.id)
            if (check) check["checked"] = e.currentTarget.checked
        }
    }
    function handleChangeItem2(e) {
        if (e.currentTarget.type == "radio") {
            logI(templateCardObject.items[2].title + " -> " + e.currentTarget.value)
            templateCardObject.items[2].selected = e.currentTarget.value
        } else {
            logI(e.currentTarget.id + "checked -> " + e.currentTarget.checked)
            let check = templateCardObject.items[2].checks.find((o) => o.id == e.currentTarget.id)
            if (check) check["checked"] = e.currentTarget.checked
        }
    }
</script>

{#if templateCardObject}
    <Card class="mb-3 card">
        <CardHeader>
            <CardTitle>{templateCardObject.title}</CardTitle>
        </CardHeader>
        <CardBody>
            <div class="div-items">
                <CardSubtitle>{templateCardObject.items[0].title}</CardSubtitle>
                {#if templateCardObject.items[0].radios}
                    {#each templateCardObject.items[0].radios as radio}
                        <Input type="radio" bind:group={functionGroup} value={radio} label={radio} id={radio} on:change={handleChangeItem0} />
                    {/each}
                {:else if templateCardObject.items[0].checks}
                    {#each templateCardObject.items[0].checks as check}
                        <Input type="checkbox" checked={check.checked} label={check.id} id={check.id} on:change={handleChangeItem0} />
                    {/each}
                {/if}
            </div>
            {#if templateCardObject.items.length > 1}
                <div class="div-items">
                    <CardSubtitle>{templateCardObject.items[1].title}</CardSubtitle>
                    {#if templateCardObject.items[1].radios}
                        {#each templateCardObject.items[1].radios as radio}
                            <Input type="radio" bind:group={visibilityGroup} disabled={visibilityDisabled} value={radio} label={radio} id={radio} on:change={handleChangeItem1} />
                        {/each}
                    {:else if templateCardObject.items[1].checks}
                        {#each templateCardObject.items[1].checks as check}
                            <Input type="checkbox" checked={check.checked} label={check.id} id={check.id} on:change={handleChangeItem1} />
                        {/each}
                    {/if}
                </div>
            {/if}

            {#if templateCardObject.items.length > 2}
                <div class="div-items">
                    <CardSubtitle>{templateCardObject.items[2].title}</CardSubtitle>
                    {#if templateCardObject.items[2].radios}
                        {#each templateCardObject.items[2].radios as radio}
                            <Input type="radio" bind:group={visibilityGroup} value={radio} label={radio} id={radio} on:change={handleChangeItem1} />
                        {/each}
                    {:else if templateCardObject.items[2].checks}
                        {#each templateCardObject.items[2].checks as check}
                            <Input type="checkbox" checked={check.checked} label={check.id} id={check.id} on:change={handleChangeItem2} />
                        {/each}
                    {/if}
                </div>
            {/if}
        </CardBody>
    </Card>
{/if}

<style>
    .div-items {
        margin-bottom: 1em;
    }

    :global(.card) {
        width: 380px;
    }
</style>
